<% @blog_posts.each do |blog_post| %>
  <h4><%= link_to(scrivito_value(blog_post.title), scrivito_path(blog_post)) %></h4>
<% end %>

<%= link_to("previous page", @previous_page) if @previous_page %>
<%= link_to("next page", @next_page) if @next_page %>
