<div class="col-12">
  <div class="col-3 cover-bg-blue ">
      <%= scrivito_image_tag widget, :image, class:'image-responsive'%>
      <%= scrivito_tag :h1, widget, :headline, data: {newlines: false}, class:'cover-text-white' %>
      <%= scrivito_tag :p, widget, :text, class:'cover-text-white', style:'padding-bottom:25px;'%> 
  </div>
</div>