<div class="section no-pad-bot bg-blue">
      <%= scrivito_image_tag widget,:image , class:'image-responsive center-block'%>
      <h1 class="text_h center header cd-headline letters type">
        <%= scrivito_tag :h1, widget, :headline, data: {newlines: false}, class:'center-block'%>
      <span>
        <%= scrivito_tag :h3, widget, :text, class:'center-block'%> 
      </span>
      </h1>
</div>

