<div class="row">
  <div class="col-12">
    <div class="cover-bg-blue">
      <div class="col-3">
        <%= scrivito_image_tag widget,:image , class:'image-responsive center-block'%>
        <%= scrivito_tag :h1, widget, :headline, data: {newlines: false}, class:'center-block cover-text-white' %>
      <div style="margin-top:15px;padding-bottom:15px;">
        <%= scrivito_tag :p, widget, :text, class:'center-block cover-text-white'%> 
      </div>
      </div>
    </div>
  </div>
</div>
