.cd-fw, body {
    text-align: center
}

.meetup-item a, .mentor-person > header > a {
    text-decoration: none
}

@font-face {
    font-family: coderdojo;
    src: url(../font/coderdojo.eot);
    src: url(../font/coderdojo.eot?#iefix) format('eot'), url(../font/coderdojo.woff) format('woff'), url(../font/coderdojo.ttf) format('truetype'), url(../font/coderdojo.svg#coderdojo) format('svg');
    font-weight: 400;
    font-style: normal
}

.cd:before {
    display: inline-block;
    font-family: coderdojo;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cd-lg {
    font-size: 1.3333333333333333em;
    line-height: .75em;
    vertical-align: -15%
}

.meetup-item, .mentor-person {
    overflow: hidden;
    vertical-align: top
}

.cd-2x {
    font-size: 2em
}

.cd-3x {
    font-size: 3em
}

.cd-4x {
    font-size: 4em
}

.cd-5x {
    font-size: 5em
}

.cd-fw {
    width: 1.2857142857142858em
}

.cd-spin {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

.cd-clock:before {
    content: "\EA01"
}

.cd-connect:before {
    content: "\EA02"
}

.cd-glyph07:before {
    content: "\EA03"
}

.cd-glyph08:before {
    content: "\EA04"
}

.cd-logo-jp:before {
    content: "\EA05"
}

.cd-logo:before {
    content: "\EA06"
}

.cd-pin:before {
    content: "\EA07"
}

.cd-spinner:before {
    content: "\EA08"
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px
}

a {
    color: #2e9ad9
}

.under-construction {
    color: #cd8585;
    font-size: 75%;
    margin: 0;
    padding: .2em;
    background: #FFF
}

body > footer {
    margin: -.25em 0 0;
    padding: 1.5em 0 4em;
    color: #fff
}

body > footer h2 {
    font-size: 87.5%;
    margin-top: 0;
    margin-bottom: 2em
}

body > footer a {
    color: inherit
}

.title, body > footer a:hover {
    color: #fff
}

.title {
    margin: 0;
    padding: 2em
}

.title > i.cd:before {
    font-size: 500%;
    display: block
}

.title > h1 {
    font-size: 1.5em;
    margin: .5em 0 1em
}

.title > p {
    padding: 0 1em;
    margin: 0 auto;
    max-width: 680px;
    font-size: 130%
}

@media only screen and (min-width:560px) {
    body > footer > ul li {
        border-radius: 3px;
        line-height: 2.8em
    }

    .title > i.cd:before {
        font-size: 800%
    }

    .title > h1 {
        font-size: 1.7em;
        margin-bottom: .5em
    }

    .title > p {
        padding: 0 3em;
        font-size: 110%
    }
}

@media only screen and (min-width:720px) {
    .title > i.cd:before {
        font-size: 1000%
    }

    .title > h1 {
        font-size: 2.2em;
        margin-bottom: .2em
    }

    .title > p {
        padding: 0 5em;
        font-size: 90%
    }
}

body > section {
    padding: 1.5em;
    background: #fff
}

body > section > * {
    margin: 0 auto;
    max-width: 750px
}

body > section:nth-child(even) {
    background: #f7f7f7
}

body > section > h1 {
    display: none
}

body > section > h2 {
    font-size: 120%;
    color: #999;
    margin-bottom: .4em
}

body > section > ul {
    text-align: left;
    padding-left: 2em;
    color: #666
}

body > section > p {
    margin-bottom: .8em;
    text-align: left
}

.meetup, .meetup > ul {
    text-align: center
}

@media only screen and (min-width:560px) {
    body > section > ul {
        padding-left: 7em
    }

    body > section > p {
        text-align: center
    }
}

body > section.cover {
    padding: 0;
    max-height: 500px;
    overflow: hidden;
    background: #999;
    line-height: 0
}

.cover > img {
    width: 100%;
    max-width: 1200px
}

.meetup > ul, .mentor > ul {
    list-style: none;
    max-width: 100%
}

@media only screen and (min-width:560px) {
    .cover > img {
        / / margin-top: -100px;
        margin-top: -10px
    }
}

@media only screen and (min-width:720px) {
    .cover > img {
        margin-top: -25px
    }
}

.meetup > ul {
    padding: 0 0 1.5em
}

.meetup-item {
    display: inline-block;
    width: 85%;
    margin: 10px;
    background: #fff;
    position: relative;
    text-align: left
}

.meetup-item > header {
    height: 150px;
    position: relative;
    overflow: hidden;
    background: #c4cce2
}

.meetup-item > header > a > img {
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%
}

.meetup-item > header > a > time {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    line-height: 1em;
    color: #fff;
    font-size: 200%;
    text-align: center;
    background: rgba(0, 0, 0, .4)
}

.meetup-item h3 {
    line-height: 1.3em;
    margin: 10px 5px 0;
    padding: 0 0 5px;
    border-bottom: 1px dashed #ccc;
    font-size: 90%
}

.meetup-item p {
    margin: 0;
    padding: 10px 5px;
    font-size: 90%
}

.meetup-item-props {
    margin: 0;
    padding: 10px 5px;
    font-size: 90%;
    list-style: none
}

.meetup-item-mentors {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 200px;
    text-align: right
}

.meetup-item-mentors > li {
    display: inline-block;
    margin: 2px
}

.meetup-item-mentors > li img {
    width: 32px;
    border: 2px solid #fff;
    border-radius: 18px
}

.meetup-item > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    font-size: 90%;
    color: #ccc;
    text-align: center
}

@media only screen and (min-width:560px) {
    .meetup-item {
        width: 220px;
        height: 305px
    }
}

.mentor > ul {
    text-align: center;
    padding: 0 0 1.5em
}

.mentor-person {
    display: inline-block;
    width: 85%;
    margin: 10px;
    padding: 15px 0;
    background: #fff;
    position: relative;
    text-align: center
}

.mentor-person > p {
    font-size: 90%;
    padding: 5px 10px;
    text-align: center;
    margin: 5px 0
}

.mentor-person-picture {
    display: block;
    height: 96px;
    width: 96px;
    background-position: center center;
    / / border-radius: 48px;
    background-size: cover;
    margin: 0 auto
}

header.title {
    background: #2275CA
}

.mentor-person-name {
    display: block;
    margin: .5em 0
}

@media only screen and (min-width:560px) {
    .mentor-person {
        width: 220px;
        height: 275px
    }
}

.spinner {
    height: 3em;
    color: #ccc
}

.tags {
    margin: 0 5px;
    padding: 0;
    list-style: none
}

.tags > li {
    display: inline-block;
    font-size: 80%;
    color: #fff;
    border-radius: .3em;
    padding: .2em;
    margin: .1em
}

body {
    color: #f;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif
}

.meetup-item > header time, .title > h1 {
    font-family: 'Fjalla One', sans-serif
}
