/*
footerで利用しているWufooのフォームの成形用のcss
*/

.wufoo #header h2 {
    display: none;
}

.wufoo li span.req {
    display: none !important;
}

.wufoo input.btTxt.submit {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 2.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #2274ca;
    border-radius: .25rem;
}

.wufoo .buttons {
    text-align: center;
}

.wufoo li.section.scrollText{
  margin: 7px;
}

.wufoo li.section.scrollText{
  margin: 7px;
}

@media screen and (max-width: 480px){
  .wufoo li.section.scrollText{
    margin: 2px;
  }
}

