%section.cover
  = image_tag "coderdojo-spaces_cover.png"

%section.introduction.text-center.list
  %h1
    %b CoderDojo Spaces
  %br
  %p ã€ŒCoderDojo ã‚’é‹å–¶ã—ã¦ã¾ã™!ã€ã¨ã„ã†æ–¹ã€…ã¨ã€ã€ŒCoderDojo å‘ã‘ã«å ´æ‰€æä¾›ã—ã¦ã‚‚ã„ã„ã‚ˆ!ã€ã¨ã„ã†ä¼æ¥­ã‚’ãƒžãƒƒãƒãƒ³ã‚°ã™ã‚‹ãŸã‚ã®ãƒšãƒ¼ã‚¸ã§ã™ã€‚
  %p ä»¥ä¸‹ã¯ CoderDojo å‘ã‘ã«ã‚¹ãƒšãƒ¼ã‚¹ã‚’æä¾›ã—ã¦ã„ãŸã ã‘ã‚‹æ–¹ã€…ã®ãƒªã‚¹ãƒˆã«ãªã‚Šã¾ã™ã€‚ã‚‚ã—èˆˆå‘³ã‚ã‚‹ä¼æ¥­ãŒã‚ã‚Šã¾ã—ãŸã‚‰ã€ãã‚Œãžã‚Œã«è¨˜è¼‰ã•ã‚Œã¦ã„ã‚‹é€£çµ¡å…ˆã«ã‚³ãƒ³ã‚¿ã‚¯ãƒˆã—ã¦ã¿ã¦ãã ã•ã„ ;)

%section#events.detail-introduction.text-center
%section#dojos.dojos.text-center.grayscale-bg
  %br/
  %h2 ã‚¹ãƒšãƒ¼ã‚¹æä¾›ä¼æ¥­ã¾ã¨ã‚
  %br/
  %ul.loaded
    %li.dojo
      %header
        %a{:href => "http://www.csaj.jp/"}
          %span.dojo-picture{:style => "background-image: url('/img/spaces/csaj.png');"}
          %span.dojo-name CSAJ
      %ul.tags
        %li æ±äº¬éƒ½
        %li æ¸¯åŒº
        %li èµ¤å‚
      %p CoderDojo å‘ã‘ã«CSAJä¼šè­°å®¤ã‚’æä¾›
    %li.dojo
      %header
        %a{:href => "http://bridd.info/"}
          %span.dojo-picture{:style => "background-image: url('/img/spaces/bridd.png');"}
          %span.dojo-name SPACE BRiDD
      %ul.tags
        %li æ±äº¬éƒ½
        %li ç¥žç”°
        %li å¤§æ‰‹ç”º
      %p BRIDDå¤§æ‰‹ç”ºã€ã‚ªãƒ•ã‚£ã‚¹ãƒ»ã‚³ãƒ¯ãƒ¼ã‚­ãƒ³ã‚°ã‚¹ãƒšãƒ¼ã‚¹
    %li.dojo
      %header
        %a{:href => "http://www.kobe.coop.or.jp/"}
          %span.dojo-picture{:style => "background-image: url('/img/spaces/coop-kobe.png');"}
          %span.dojo-name ã‚³ãƒ¼ãƒ—ã“ã†ã¹
      %ul.tags
        %li å…µåº«çœŒ
        %li è¥¿å®®å¸‚
        %li èŠ¦å±‹å¸‚
        %li ç¥žæˆ¸å¸‚
      %p ç¾åœ¨å°ã•ãå®Ÿé¨“çš„ã«å®Ÿæ–½ä¸­ã€‚ã¾ãšã¯ä¸Šè¨˜ã®ã‚¨ãƒªã‚¢ãŒå¯¾è±¡ã€‚

.text-center
  %section.detail-introduction
    %h2 ãŠå•ã„åˆã‚ã›
    %p
      ã‚¹ãƒšãƒ¼ã‚¹ã‚’æä¾›ã—ã¦ã„ãŸã ã‘ã‚‹ä¼æ¥­ã‚’å‹Ÿé›†ã—ã¦ãŠã‚Šã¾ã™!
      %br
      ã‚‚ã—èˆˆå‘³ãŒã‚ã‚Šã¾ã—ãŸã‚‰ä¸‹è¨˜ãƒ•ã‚©ãƒ¼ãƒ ã‚ˆã‚Šã”é€£çµ¡ãã ã•ã„ ðŸ“¨

    / Contact Form via Wufoo
    #contact
    #wufoo-qkjthoy0qpuvg9{:style => "margin-top: -10px"}
      %a{:href => "https://yasslab.wufoo.com/forms/qkjthoy0qpuvg9"}> å•ã„åˆã‚ã›ãƒ•ã‚©ãƒ¼ãƒ 
      \.
    #wuf-adv{:style => "font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"}
      HTML Forms powered by
      = succeed "." do
        %a{:href => "https://www.wufoo.com"} Wufoo
    :javascript
      var qkjthoy0qpuvg9;(function(d, t) {
      var s = d.createElement(t), options = {
        'userName':'yasslab',
        'formHash':'qkjthoy0qpuvg9',
        'autoResize':true,
        'height':'497',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true
      };
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try {
          qkjthoy0qpuvg9 = new WufooForm();qkjthoy0qpuvg9.initialize(options);qkjthoy0qpuvg9.display();
        } catch (e) {}
      };
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');
