- provide :title, strip_tags(@title)
- provide :desc,  strip_tags(@desc)
- provide :url,   @url
- provide :meta_image, "/img/ogp-docs.jpeg"

.container
  %section.docs{style: "padding: 50px 0px;"}
    %h2.text-center= @title.html_safe
    %p.text-center{style: "padding-bottom: 50px;"}
      = @desc.html_safe
      %br
      初めての方は
      %a{href: kata_path}
        %b Kata
      をご参照ください。
    %ul
      - @docs.each do |doc|
        %li{style: ''}= link_to doc.title, doc.url
