<% provide(:meta_image,  "/img/ogp-kata.jpeg") %>

<!-- Set your background image for this header on the line below. -->
<header class='kata-header lazyload' loading='lazy' style="padding-top: 100px; background-image: url('/img/kata-cover.png')">
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
        <div class='kata-heading'>
          <h1>CoderDojo Kata</h1>
          <h2 class='kata-subheading'>道場情報まとめ</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<section class='kata'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 fontsize-bigger'>
        <!-- Navigator -->
        <p style="margin-top: -35px; padding-bottom: 20px;">
          <a href='/'>トップ</a> → Kata
        </p>
        <!-- Migrated contents from Scrivito (= scrivito_tag :div, @obj, :body) -->
        <div>
	  <div class="headline-anchor" id="README"></div>
	  <h2 class="headline">はじめに</h2>
	  <p>Kata (型) では、全国の CoderDojo から公開された役立つ資料を共有したり (<b><a href="#learn">学ぶ</a></b>)、力をつけた子どもが<b><a href="#challenge">腕試し</a></b>できるプログラミングコンテスト情報をまとめています。また、CoderDojo を<b><a href="#startup">立ち上げる</a></b>方法や、CoderDojo が受けられる<b><a href="#support">支援</a></b>、<b><a href="#faq">よくある質問と回答</a></b> (FAQ) についてもまとめています。</p><br>
	      
	  <h3><b>CoderDojo とは?</b> ☯️</h3>
	  <p>CoderDojo は、7〜17歳を対象とした非営利のプログラミング道場です。2011年にアイルランドから始まり、世界では110カ国・2,200以上の道場、日本では<a href="https://coderdojo.jp/#dojos">全国に222以上</a>の道場があります。CoderDojo は全国各地で定期的に開催されており、<a href="https://coderdojo.jp/stats" style="background-color: rgb(255, 255, 255);">延べ10,000人以上</a>の子ども達が毎年楽しみながら様々な作品を創っています。</p><p>各 Dojo は、チャンピオンやメンターと呼ばれる協力者によって自主的に運営されています。プログラマーやデザイナーだけでなく、学生や教員、アーティストやフリーランス、起業家や投資家などの方々が分野横断的に協力しあって、それぞれの Dojo が継続的に運営されています。もちろん、参加者自身や参加者の親が運営に協力する事例も多いです。</p>
	  <img src="https://cdn0.scrvt.com/7f439707380cf52e2b1a72a47f74dd17/5f7178b04c3575d7/a6b8e80ca3c2/v/df9053becbf5/Cover_CoderDojo_Zero.png" style="padding-top:-50px;" class="img-responsive ls-is-cached lazyloaded" loading="lazy">
	  <br>
	  
	  <h3><b>まず何を読むといい？</b> 🤔</h3>
	  <p>初めての方向けには次の資料をオススメしています。スライドや動画、インタビュー記事を見ると CoderDojo の雰囲気が掴めます。<br><br></p>

	  <ul>
	    <li><p><a href="https://docs.google.com/presentation/d/e/2PACX-1vTukDtBzvD62d9rNLBY1kXp8arXJBnB-Lq6YWSW5oZXoeokGLscob1HNYzmD7mIIxhkoQyCJVoFAFvh/pub?start=false&amp;loop=false">CoderDojo へようこそ! (スライド)</a></p></li>
	    <li><p><a href="https://www.youtube.com/watch?v=VEcFnEYT6mQ">CoderDojo ってなんかのおぅ? (動画<span style="font-size: 19.2px;">)</span></a></p></li>
	    <li><p><a href="https://www.youtube.com/watch?v=gLDue2xb1j8" style="background-color: rgb(255, 255, 255);">あなたが Dojo に来る理由は何ですか? (動画)</a></p></li>
	  </ul>
	  <br>

	  <p>CoderDojo の雰囲気は掴めたでしょうか? もっと詳しく知るには<b>実際に参加してみるのが近道</b>です。<a href="/#dojos">日本各地の道場</a>や<a href="https://coderdojo.jp/events">近日開催の道場</a>、<a href="https://zen.coderdojo.com/">CoderDojo Zen (地図)</a> から最寄りの道場を探してみましょう!</p>
	  <br>

	  <h3><b>もっと詳しく知りたい場合は？</b> 👀</h3>
	  <p>CoderDojo は書籍・新聞、Webメディアでも紹介されています。CoderDojo について紹介している記事や書籍を新しい順でご紹介します。興味のあるトピックがあればぜひ読んでみてください。</p>
	  <br>

	  <p><b>書籍・新聞</b></p>
	  <ul>
	    <li><p><a href="https://the-japan-news.com/news/article/0007690557">Free coding sessions to move Pokemon characters surges in popularity - The Japan News</a></p></li>
	    <li><p><a href="https://takadanobaba.keizai.biz/headline/656/">プログラミングでポケモンを動かすワークショップ、全国のコーダー道場で実現 - 高田馬場経済新聞</a></p></li>
	    <li><p><a href="https://amazon.co.jp/dp/B08BWFL2B9/">情報処理 2020年8月号 (特集「プログラミング教育の最前線」 - 地域におけるプログラミング学習コミュニティ CoderDojo の果たす役割)</a> </p></li>
	    <li><p><a href="https://takadanobaba.keizai.biz/headline/467/">女子小中学生とグーグル女性エンジニアのオンライン交流「コーダー道場」参加者募集 - 高田馬場経済新聞</a></p></li><li><p><a href="https://mainichi.jp/articles/20190829/k00/00m/040/088000c">プログラミング教育の地域格差が課題に。民間団体や若手起業家らに注目 - 毎日新聞</a></p></li>
	    <li><p><a href="https://www.yomiuri.co.jp/teen/junior/jnews/20190708-OYT8T50018/">無料でプログラミングが学べる道場って、どんなところ？ - 読売新聞オンライン</a><br></p></li><li><p><a href="https://takadanobaba.keizai.biz/headline/187/">アイルランド発プログラミング道場の創始者が高田馬場でトークイベント</a><br></p></li>
	    <li><p><a href="https://takadanobaba.keizai.biz/column/1/">CoderDojo Japan 特集インタビュー - 高田馬場経済新聞</a></p></li>
	    <li><p><a href="http://www.impressrd.jp/news/171004/NP">シビックテックイノベーション - インプレスR&amp;D</a></p></li>
	    <li><p><a href="https://shunan.keizai.biz/headline/210/">光市で子ども向けプログラミング道場 県内初の「CoderDojo」- 周南経済新聞</a><br></p></li>
	    <li><p><a href="https://mainichi.jp/articles/20170807/kei/00s/00s/014000c">Ｌｅｔ’ｓプログラミング コーダー道場に行ってみよう - 毎日新聞</a><br></p></li>
	    <li><p><a href="https://chofu.keizai.biz/headline/2420/">調布でプログラミング体験イベント盛況　参加者増加も人手不足が課題 - 調布経済新聞</a><br></p></li><li><p><a href="http://www.sotechsha.co.jp/pc/html/1151.htm">CoderDojo Japan公式ブック - Scratch(スクラッチ)でつくる! たのしむ!　プログラミング道場 | ソーテック社</a><br></p></li>
	    <li><p><a href="https://www.facebook.com/groups/coderdojo.jp/permalink/1067818389998226/">20年度、小学校で必修科　論理的思考育む機会にも - 朝日新聞</a></p></li><li><p><a href="https://www.amazon.co.jp/dp/4822238814/">日経Kids+ 子どもと一緒に楽しむ! プログラミング(日経ホームマガジン)</a><br></p></li><li><p><a href="http://www.sotechsha.co.jp/pc/html/1151.htm">CoderDojo Japan公式ブック - Scratch(スクラッチ)でつくる! たのしむ!　プログラミング道場 | ソーテック社</a></p></li>
	    <li><p><a href="https://www.facebook.com/groups/coderdojo.jp/permalink/1067818389998226/">20年度、小学校で必修化。論理的思考育む機会にも - 朝日新聞</a><br></p></li>
	    <li><p><a href="http://ec.nikkeibp.co.jp/item/books/255990.html">日経Kids＋　親子で始めるプログラミング </a><br></p></li>
	    <li><p><a href="https://store.toyokeizai.net/magazine/toyo/20160516/">今すぐ始めるプログラミング | 週刊東洋経済 2016年5月21日号</a><br></p></li>
	    <li><p><a href="http://book.impress.co.jp/books/1114101123">子どもにプログラミングを学ばせるべき 6 つの理由 「21 世紀型スキル」で社会を生き抜く - インプレス</a><br></p></li>
	    <li><p><a href="https://www.facebook.com/note.php?note_id=321408997945053&amp;id=204862942932993">Kids are coding it for themselves - Nikkei Asian Review</a></p></li>
	  </ul>
	  <br>

	  <p><b>Webメディア・プレスリリース</b></p>
	  <ul>
	    <li><p><a href="https://withyou.pokemon.co.jp/activity/ict_education/">POKÉMON with YOU - ポケモンはいつもキミといっしょ - (ICT教育支援)</a><br></p></li><li><p><a href="https://prtimes.jp/main/html/rd/p/000000003.000038935.html">プログラミングでポケモンを動かすワークショップが、全国のCoderDojoで実施可能に。</a><br></p></li>
	    <li><p><a href="https://prtimes.jp/main/html/rd/p/000000002.000038935.html">TFabWorksと連携し、micro:bitなどの無償レンタルプログラムを全国のCoderDojo向けに提供</a></p></li>
	    <li><p><a href="https://coderdojo.com/2020/06/18/how-the-coderdojo-community-in-japan-has-adapted-to-change/">How the CoderDojo community in Japan has adapted to change</a></p></li>
	    <li><p><a href="https://www.watch.impress.co.jp/kodomo_it/news/1203065.html">こどもとIT - Wi-Fi付シングルボードコンピューター「Halocode」を子どもたちと一緒にいじってみた - Impress Watch</a></p></li>
	    <li><p><a href="https://persol-tech-s.co.jp/i-engineer/human/coderdojo">プログラミング未経験だった経済学部生が、CoderDojoと出会いITの奥深さに気づけた理由 - i ENGINEER</a></p></li>
	    <li><p><span style="font-size: 19.2px;"><a href="http://myfuna.net/archives/townnews/%E5%AD%90%E3%81%A9%E3%82%82%E3%81%8C%E7%84%A1%E6%96%99%E3%81%A7%E5%AD%A6%E3%81%B9%E3%82%8B%E3%80%8Ccoderdojo%EF%BC%88%E3%82%B3%E3%83%BC%E3%83%80%E3%83%BC%E9%81%93%E5%A0%B4%EF%BC%89%E3%80%8D%E3%80%81">子どもが無料で学べる「CoderDojo（コーダー道場）」、船橋でも今月末に開催へ - MyFunaねっと</a></span></p></li>
	    <li><p><span style="font-size: 19.2px;"><a href="http://www.itmedia.co.jp/news/articles/1705/29/news132.html">Raspberry Pi、子どもプログラミング道場CoderDojoと統合 - ITmedia</a></span></p></li>
	    <li><p><a href="http://itpro.nikkeibp.co.jp/atcl/interview/14/262522/102600287/">「教わるのではなく学び取る」、子供向けプログラミング道場「CoderDojo」が全国で急増中：ITpro</a></p></li>
	    <li><p><a href="http://ict-enews.net/zoomin/17coderdojo/">子どものための無料プログラミング道場「CoderDojo」をはじめてみませんか - ICT教育ニュース</a></p></li>
	    <li><p><a href="http://berd.benesse.jp/special/manabi/manabi_10.php">「自由」というルールを共有し、プログラミングの学習機会を提供する CoderDojo Japan - ベネッセ教育総合研究所</a><a href="http://bakemono.jp/reading/blog/web/2256/"><br></a></p></li>
	    <li><p><a href="https://4yuuu.com/articles/view/473532">実は日本に40もある！参加費無料の「プログラミング道場」って？ | 4yuuu!</a></p></li>
	    <li><p><a href="http://bakemono.jp/reading/blog/web/2256/">子ども向け無料プログラミング道場、CoderDojoとは？　運営者に話を聞いてみた！ | バケモノ.jp</a></p></li>
	    <li><p><a href="https://ja.wikipedia.org/wiki/%E3%82%B3%E3%83%BC%E3%83%80%E3%83%BC%E9%81%93%E5%A0%B4">コーダー道場 - Wikipedia</a></p></li>
	    <li><p><a href="https://tech.a-listers.jp/2012/05/09/coderdojo-tokyo-1-james-whelton-in-japan/">CoderDojo Tokyo #1 と創始者ジェームズ・ウェルトン氏来日のまとめ | A-Listers</a></p></li>
	  </ul>
	  <br>
	  <p>上記の他にも、一般社団法人 CoderDojo Japan が発表したプレスリリースや公式ニュースレターもあります。詳細は <a href="https://news.coderdojo.jp/">news.coderdojo.jp</a> をご参照ください 📰</p>
	  <br>

	  <div class="headline-anchor" id="learn">
	    <h2 class="headline">📚 学ぶ</h2>
	    <img src="https://cdn0.scrvt.com/7f439707380cf52e2b1a72a47f74dd17/b6d4bafba66f1757/80cd1727fd8b/v/3f9e1269f4b5/umeda-servo.png" style="padding-top:-50px;" class="img-responsive ls-is-cached lazyloaded" loading="lazy">
	  </div>

	  <div><div>
	    <p><span style="font-size: 19.2px;"><a href="https://coderdojo.jp/stats">毎年 1,500 回以上</a>の Dojo が日本各地で開催されているため、CoderDojo で得られた知見を元に教材が作られることも多いです。</span></p>
	    <p><span style="font-size: 19.2px;">CoderDojo 関係者が制作した教材を中心にまとめてみたので、参加者や運営者、メンターなどのご参考になれば嬉しいです。</span></p>
	    <br>
	    <p><b>Scratch</b></p>
	    <ul>
	      <li>
		<p><b><a href="https://coderdojoowari.org/news/make-scratch-account/">【動画】Scratch アカウントの作成方法</a></b><br>
		  by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></p></li>
	      <li>
		<b><a href="https://www.coderdojo-hiroshima.com/wp-content/uploads/2019/01/coderdojo-kamiyacho-beginner.pdf">プログラミング入門</a> + <a href="https://scratch.mit.edu/projects/119995141/" style="background-color: rgb(255, 255, 255);">忍者テンプレート</a></b><p>by <a href="https://www.coderdojo-hiroshima.com/">CoderDojo 紙屋町</a></p></li>
	      <li><p><a href="https://coderdojo-hommachi.github.io/assets/pdf/collect_gems.pdf"><b>Collect gems - Learn Scratch</b></a><br><span style="font-size: 19.2px;">by 尾篭 @ <a href="https://coderdojo-hommachi.doorkeeper.jp/">CoderDojo 本町</a></span></p></li>
	      <li><p><b><a href="https://github.com/kwaka1208/FirstMission">FirstMission</a> + </b><a href="https://scratch.mit.edu/projects/68155398/"><b>作品例</b></a><br>by 若林 @ <a href="http://coderdojo-nara-ikoma.github.io/">CoderDojo 奈良・生駒</a></p></li>
	      <li><p><b><a href="https://speakerdeck.com/yu_san_19/lets-getting-started-scratch">Scratch を始めよう！</a><br></b><span style="font-size: 19.2px;">by 曽我 @ <a href="https://www.coderdojo-konan.jp/">CoderDojo 岡山 岡南</a></span></p></li>
	      <li><p><a href="http://coderdojochofu.hatenablog.jp/archive/category/Scratch%E3%81%A7%E3%82%B7%E3%83%A5%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0%E3%82%B2%E3%83%BC%E3%83%A0%E3%82%92%E4%BD%9C%E3%82%8D%E3%81%86%EF%BC%81"><b>Scratch でシューティングゲームを作ろう!</b></a><br>by おおやけ @ <a href="http://coderdojochofu.hatenablog.jp/">CoderDojo 調布</a></p></li>
	      <li><p><a href="https://scratch.mit.edu/studios/3675208/"><b>詰め Scratch</b></a><br>by おおやけ @ <a href="http://coderdojochofu.hatenablog.jp/">CoderDojo 調布</a></p></li>
	      <li><p><span style="font-size: 19.2px;"><b><a href="http://beyondbb.jp/CDmama/materials.html">プログラミング学習のための Scratch 教材集</a><br></b></span><span style="font-size: 19.2px;">by 太田 @ <a href="http://beyondbb.jp/CDmama/index.html">CoderDojo 市川真間</a></span></p></li>
	      <li><p><span style="font-size: 19.2px;"><b><a href="https://github.com/ikaken/CoderDojoMito/tree/master/%E4%BD%93%E9%A8%93%E3%82%B3%E3%83%BC%E3%83%8A%E3%83%BC%E3%82%B2%E3%83%BC%E3%83%A0%E4%BD%9C%E6%88%90%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB">Scratch ゲーム作成マニュアル集</a><br></b><span style="font-size: 19.2px;">by 井川 @ <a href="https://coderdojo-mito.com/">CoderDojo 水戸</a></span><br></span></p></li>
	      <li><p><b><a href="https://www.dropbox.com/s/po0a9m4wo6fst57/%E3%82%B9%E3%82%AF%E3%83%A9%E3%83%83%E3%83%81%E3%83%89%E3%83%AA%E3%83%AB.pdf?dl=0">スクラッチドリル</a><br></b><span style="font-size: 19.2px;">by 岩田 @ <a href="https://coderdojo-tempaku.com/">CoderDojo 天白</a></span></p></li>
	      <li><p><b><a href="https://drive.google.com/file/d/1OJ2v05hxlTUA3OhyuGs9wHsSRDjr9_Wa/view">ハッカソンの実施例</a> (<a href="https://hackmd.io/s/Bk5iOvinN">ふりかえり</a>)<br></b><span style="font-size: 19.2px;">by 岩田 @ <a href="https://coderdojo-tempaku.com/">CoderDojo 天白</a></span></p></li>
	      <li><p><b><a href="https://www.dropbox.com/s/1zz5rl28x5qkxx2/Scratch%E8%A8%AD%E8%A8%88%E5%9B%B3.pdf?dl=0">ペアプログラミング用Scratch設計図</a> + <a href="https://www.dropbox.com/s/xz5hzswr10vruao/Scratch%E8%A8%AD%E8%A8%88%E5%9B%B3.jpg?dl=0">利用例</a><br></b><span style="font-size: 19.2px;">by 宇津 @ <a href="http://coderdojo-nagoya.github.io/">CoderDojo 名古屋</a></span></p></li>
	      <li><p><span style="font-size: 19.2px; color: inherit; font-family: inherit;"><b><a href="http://153.127.198.12/aizu/scratch_var_CoderDojoAizu.pdf">変数とリスト,リンゴキャッチ,ブロック崩し</a><br></b></span><span style="font-size: 19.2px;">by 斎藤 ＠ </span><a href="http://coderdojoaizu.mystrikingly.com/" target="_blank" style="font-size: 19.2px; background-color: rgb(255, 255, 255);">CoderDojo 会津</a></p></li>
	    </ul>
	    <br>
	    <p><b>Snap!</b></p><ul><li><b><a href="http://153.127.198.12/aizu/aboutSnap.pdf" target="_blank">Snapのこと（入門テキスト）</a></b><br>by 斎藤 ＠ <a href="http://coderdojoaizu.mystrikingly.com/" target="_blank" rel="noopener noreferrer" style="background-color: rgb(255, 255, 255);">CoderDojo 会津</a></li>
	    </ul>
	    <br>
	    <div><p><b>micro:bit</b></p>
	      <ul>
		<li><p><b><a href="http://beyondbb.jp/SSP/SSPNo.3microbitA.pdf">micro:bit プログラミング (Scratch 3.0 対応)</a><br></b><span style="font-size: 19.2px;">by 太田 @ </span><a href="http://beyondbb.jp/CDmama/" style="font-size: 19.2px; background-color: rgb(255, 255, 255);">CoderDojo 市川真間</a></p></li>
		<li><p><a href="https://docs.google.com/presentation/d/1PX3geSydvXTEh2M7vwCV_tPIHNjqoHFVtrj09xT6a6Y/edit#slide=id.p" style="font-weight: bold;">micro:bit をはじめよう</a><b><br></b><span style="font-size: 19.2px;">by 松浦 @ </span><a href="https://coderdojo-ise.jimdo.com/" style="font-size: 19.2px; background-color: rgb(255, 255, 255);">CoderDojo 伊勢</a></p></li>
		<li><p><b><a href="https://www.coderdojo-hiroshima.com/%E5%AD%A6%E7%BF%92%E3%83%92%E3%83%B3%E3%83%88/microbit%E3%81%A7%E3%82%B2%E3%83%BC%E3%83%A0%E3%82%92%E4%BD%9C%E3%82%8B">micro:bit でゲームを作る</a><br></b><span style="font-size: 19.2px;">by 小川 @ <a href="https://www.coderdojo-hiroshima.com/">CoderDojo 紙屋町</a></span></p></li>
		<li><p><span style="font-size: 19.2px;"><b><a href="https://www.coderdojo-hiroshima.com/%E5%AD%A6%E7%BF%92%E3%83%92%E3%83%B3%E3%83%88/microbit%E3%81%A7%E3%81%B2%E3%82%89%E3%81%8C%E3%81%AA%E3%82%92%E8%A1%A8%E7%A4%BA%E3%81%95%E3%81%9B%E3%81%A6%E3%81%BF%E3%82%88%E3%81%86">micro:bit でひらがなを表示させて見よう</a><br></b><span style="font-size: 19.2px;">by ナカオク @ <a href="https://www.coderdojo-hiroshima.com/">CoderDojo 紙屋町</a></span><br></span></p></li>
		<li><p><span style="font-size: 19.2px;"><b><a href="https://memakura.github.io/s2microbit-ble/">Smi:bit / スマイビー (Scratch 2.0 対応)</a><br></b><span style="font-size: 19.2px;">by 川嶋 @ <a href="http://coderdojo-nara-ikoma.github.io/">CoderDojo 奈良・生駒</a></span><br></span></p></li>
		<li><b><a href="https://note.mu/coding/n/n74d63b44531c">micro:bit で自由研究</a><br></b>by E研究員 @ <a href="https://coderdojo-kohokunt.connpass.com/">CoderDojo 港北ニュータウン</a><br><br></li>
	      </ul><p><b><span style="font-size: 19.2px;">HTML、電子工作、LEGO など</span></b></p><ul><li><p><b><a href="http://tsuyoshioshima.github.io/ninjachart/">まよえるニンジャのための やりたいことさがし</a><br></b><span style="font-size: 19.2px;">by とがぞの @ <a href="https://coderdojo-kodaira.github.io/">CoderDojo こだいら</a> (<a href="http://coderdojo-kodaira.blog.jp/archives/59932567.html">データ</a>提供)<br></span><span style="font-size: 19.2px;">by 大島 @ <a href="http://coderdojo-saitama.com/">CoderDojo さいたま</a> (ツール提供)</span></p></li>
		<li><p><b><a href="http://www.coderdojo-hiroshima.com/My_first_website_ja.pdf">はじめてのWebサイト</a></b><br>by 鼠屋 @ <a href="http://www.coderdojo-hiroshima.com/">CoderDojo 広島</a></p></li>
		<li><p></p><p><b><a href="https://lets.makewitharduino.com/">Let's Make With Arduino!</a> + <a href="https://docs.google.com/spreadsheets/d/1XNd1BK2tiDwk3GTYJ60RzaXj_kwvB3FDpDuXZVm-MCQ/edit">部品購入先リスト</a></b><br><span style="font-size: 19.2px;">by 岡田バナナ @ </span><a href="http://coderdojo-nishinomiya.info/" style="font-size: 19.2px; background-color: rgb(255, 255, 255);">CoderDojo西宮 / 梅田</a><br>by 塚本 @ <a href="http://coderdojo-nara-ikoma.github.io/">CoderDojo 奈良・生駒</a></p><p></p></li>
		<li><b><a href="http://pegpeg.jp/tool/2014/09/09/686" style="background-color: rgb(255, 255, 255);">スクラッチでピタゴラ装置を作ろう! (指導者向け)</a></b><br>by 安川、石原 @  <a href="http://tokyo.coderdojo.jp/" style="background-color: rgb(255, 255, 255);">CoderDojo Tokyo (下北沢)</a></li>
	      </ul><ul><li><p><a href="http://kata.coderdojo.com/wiki/Overview_of_Learning_Resources" style="font-size: 19.2px; background-color: rgb(255, 255, 255); font-weight: bold;">海外の Dojo の教材リソース (英語)</a><br><span style="font-size: 19.2px;">by </span><a href="https://coderdojo.com/foundation/" style="font-size: 19.2px; background-color: rgb(255, 255, 255);">CoderDojo Foundation (アイルランド)</a><br><br></p></li>
	      </ul>

	      <p><b>他、ツール紹介、イラスト素材、ワークショップ事例など</b></p>
	      <ul>
		<li><p><b><a href="https://docs.google.com/presentation/d/e/2PACX-1vTuTnuBEH8X6Dyw6KrfuCkH2yeJA0_90_OkCddDAgCcChxMOfOOMReNixLVmIBkItkLKJXEG9b8hoCp/pub?loop=false">Zoomの使い方 - はじめてのWeb会議の参加方法</a></b><br>by とがぞの</p></li>
		<li><p><b><a href="https://github.com/spicagraph/project-ninja">project-ninja (Scratchのイラスト素材集)</a></b><br><span style="font-size: 19.2px;">by spicagraph</span></p></li>
		<li><p></p><p><a href="https://scratch.mit.edu/projects/372335885/" style="font-weight: bold;">アクションゲーム向けフリーイラスト素材 (Scratch向け)</a><b><br></b>by yuki384</p><p></p></li>
		<li><p><b><a href="https://soundeffect-lab.info/">フリー効果音素材 (Scratchでも利用可)</a><br></b>by 効果音ラボ</p></li>
		<li><p><b><a href="https://www.irasutoya.com/">いらすとや (Scratchでは利用不可)</a><br></b>by いらすとや</p></li><li><p><b><a href="https://mekurun.com/">メクルン - スライド形式で作りながら学べる学習サイト</a></b><br>by Mekurun</p></li>
		<li><p><b><a href="https://code.org/learn">Hour of Code - １時間のチュートリアルまとめ</a><br></b>by Code.org</p></li>
		<li><p><a href="http://swikis.ddo.jp/abee/77"><b>ネコから逃げろ！ゲームを使ったスクラッチワークショップ</b></a><br>by abee</p></li>
		<li><p><b><a href="https://yasslab.jp/ja/workshops/raspi/">1.5時間で学ぶ! Scratch + Raspberry Pi ワークショップ</a></b><br><span style="font-size: 19.2px;">by YassLab</span></p></li>
		<li><p><a href="https://scratch.mit.edu/ideas"><b>Scratch チュートリアル</b></a><br><span style="font-size: 19.2px;">by MIT Media Lab</span></p></li>
	      </ul></div></div>
	  </div>

	  <div class="headline-anchor" id="challenge"></div>
	  <h2 class="headline"> 腕試し</h2>
	  <div><img src="https://cdn0.scrvt.com/7f439707380cf52e2b1a72a47f74dd17/07217efbc857a243/c0ae6dfc46a7/v/060e89cc4bb5/_---.png" style="padding-top:-50px;" class="img-responsive lazyload" loading="lazy">
	  </div>
	  <div><div>
	    <p><br>プログラミングはやればやるほど日に日に力がついていきます。「プログラミングに少し慣れたかな」と感じたら、腕試しのつもりでキャンプやコンテストに挑戦してみてはいかがでしょうか? </p><p>空手や柔道に大会があるように、プログラミング界隈にも全国の応募者が毎年「ワザ」を磨き合う場があります。海外のコンテストであれば、世界中の同世代と学び合う機会もあります 🤝✨</p>
	    <p>腕試しはワザを磨く近道です。以下のリストが「次の一歩」を踏み出すご参考になれば嬉しいです! 🏃💨</p>
	    <br>
	    <ul>
	      <li><p><a href="https://coolestprojects.org/" style="font-weight: bold;">Coolest Projects</a><br>世界中の CoderDojo 関係者の作品が集まる展示会（<a href="https://online.coolestprojects.org/gallery">Showcase Gallery</a>）です。<a href="https://online.coolestprojects.org/events/cp-2021/gallery?project%5Bcountry_code%5D=JP&amp;project%5Bcategory%5D=">日本の CoderDojo 参加者の作品</a>も展示されています。</p></li>
	      <li><p><b><a href="http://www.ipa.go.jp/jinzai/camp/index.html">セキュリティ・キャンプ</a><br></b>IPAが主催する、合宿形式で実践的な技術を習得するプログラムです。22歳以下の学生・生徒が対象。参加費、交通費すべて無料。</p></li>
	      <li><p><b><a href="https://sechack365.nict.go.jp/">SecHack365</a><br></b><span style="font-size: 19.2px;">セキュリティの未来を生み出すU-25ハッカソンです。国立研究開発法人情報通信研究機構（NICT）主催。サイバーセキュリティに関するソフトウェア開発や研究、実験、発表を１年間継続する長期ハッカソンです。</span></p><p></p></li>
	      <li><p><span style="font-size: 19.2px;"><b><a href="https://www.cybersakura.jp/">CyberSakura</a><br></b></span><span style="font-size: 19.2px;">中学〜</span><span style="font-size: 19.2px;">高校生のチームを対象とした</span>サイバーセキュリティ教育プログラムです。参加者は、セキュリティの脆弱性を解消する実践的なトレーニングなどを受けられます。</p></li>
	    </ul>
	    <ul>
	      <li><p><a href="https://techkidsschool.jp/grandprix2018/" style="font-weight: bold;">Tech Kids Grand Prix</a><br><span style="font-size: 19.2px;">小学生のためのプログラミングコンテストです。『21世紀を創るのは、君たちだ。』 をスローガンに掲げ、VISION・PRODUCT・PRESENTATIONの3つで評価。ゲーム部門と自由制作部門の2つがあります。</span></p><p></p><p></p></li>
	      <li><p><b><a href="http://pcn.club/contest/">PCNこどもプロコン</a><br></b><span style="font-size: 19.2px;">小学生〜中学生を対象にしたプログラミング作品コンテストです。ジャンルや言語・作成ツールは問わず、半年以内に完成した作品であればどれでも応募することができます。</span></p></li>
	      <li><p><span style="font-size: 19.2px;"><a href="https://exa-kids.org/" style="font-weight: bold;">EXA KIDS (エクサキッズ)</a><br><span style="font-size: 20px;">小・中学生対象の IT 競技コンテストです。</span><span style="font-size: 19.2px;">競技種目にはドローンレースやロボットバトル、セキュリティコンテストやゲームトーナメントなどがあります。</span><br></span></p><p></p></li>
	      <li><p><span style="font-size: 19.2px;"><b><a href="http://jjpc.jp/">全国小中学生プログラミング大会</a><br></b></span><span style="font-size: 19.2px;">PC・スマートフォン・タブレットで動作するプログラムやアプリ・ゲーム・ムービーなどのソフトウェア、ロボット、 電子工作などのハードウェアであれば使用言語や作品形式は問いません。</span><span style="font-size: 19.2px;">のびのびとした発想に基づく作品を募集。</span></p><p></p></li>	      
	      <li><p><b><a href="https://www.ruby-procon.net/">中高生国際Rubyプログラミングコンテスト in Mitaka</a></b><br>プログラミング言語「<a href="https://www.ruby-lang.org/ja/">Ruby</a>」に特化したプログラミングコンテストです。「ゲーム部門」と「クリエイティブ部門」などが用意されています。</p></li>
	      <li><p><b><a href="https://smalruby-koshien.jp/">スモウルビー甲子園 - Smalruby Programming Koshien</a><br></b><span style="font-size: 19.2px;">高校生以下を対象としたプログラミング競技会です。Rubyベースのビジュアルプログラミング言語「</span><a href="https://miraino-manabi.mext.go.jp/content/287" style="font-size: 19.2px; background-color: rgb(255, 255, 255);">スモウルビー</a><span style="font-size: 19.2px;">」を使って、ゲーム攻略 AI（人工知能）プログラムを作成し、参加者たちとゲームで対戦しながら頂点を目指します。</span></p><p></p></li>
	      <li><p><a href="https://www.applikoshien.jp/" style="font-weight: bold;">アプリ甲子園 - TEENS APPS AWARDS</a><b><br></b></p><p><span style="font-size: 19.2px;">中学生や高校生、高専生を対象としたスマートフォンアプリ・Webサービス開発コンテストです。</span>作品テーマは自由で、クリエイティブな力を発揮できる大会です。</p><p></p></li>
	      <li><p></p><p><span style="font-size: 19.2px;"><b><a href="https://products.sint.co.jp/pg_battle_2019">PG Battle - 企業・学校対抗プログラミングバトル</a><br></b></span>3人でチームを組み、1人4問ずつ解き、3人の合計点で争うオンラインプログラミング大会。誰でも無料で参加できるオープンな大会です。</p><p></p></li>
	      <li><p><b><a href="https://www.wroj.org">WRO (World Robot Olympiad)</a><br></b>世界中の子ども達が各々ロボットを製作し、プログラムにより自動制御する技術を競う、自立型ロボットによる国際的なロボットコンテストです。</p><p></p></li>
	      <li><p><b><a href="https://firstjapan.jp">FIRST (For Inspiration and Recognition of Science and Technology)</a><br></b>LEGOなどを使った国際的なロボットコンテストです。6〜8歳の枠、9〜16歳の枠、15〜18歳の枠の３つがあります。</p></li>
	      <li><p><b><a href="https://newview.design/awards/">NEWVIEW AWARDS</a><br></b>VR 作品や AR 作品を対象とした国際的コンテストです。「<a href="https://styly.cc">STYLY</a>」を使って制作・公開された VR/AR コンテンツ作品が対象となります。</p></li>
	      <li><p><b><a href="https://u18.awards.cesa.or.jp/">日本ゲーム大賞 U18部門</a><br></b><span style="font-size: 19.2px;">チームまたは個人で参加し、制作したゲームと、そのプレゼンテーションを競うコンテストです。予選を勝ち抜いたチームは、翌年の東京ゲームショウで行われる決勝大会および表彰式に参加できます。</span></p></li>
	      <li><p></p><p><span style="font-size: 19.2px;"><b><a href="https://j-mediaarts.jp/">文化庁メディア芸術祭 (U-18 賞)</a><br></b></span><a href="https://www.bunka.go.jp/" style="font-size: 19.2px; background-color: rgb(255, 255, 255);">文化庁</a><span style="font-size: 19.2px;">が主催するコンテストです。アート・エンターテインメント・アニメーション・マンガの４つの部門があり、それぞれの部門に U-18 賞があります。</span></p></li>
	      <li><p><b><a href="https://developers.google.com/open-source/gci/">Google Code-in</a></b> (英語)<br>18歳以下を対象とした、学生とオープンソースプロジェクトを繋ぐプログラムです (英語)。18歳以上向けの <a href="https://developers.google.com/open-source/gsoc/">Google Summer of Code</a> に年齢制限をかけたプログラムです。(参考: <a href="https://ja.wikipedia.org/wiki/Google_Summer_of_Code">Google Summer of Code - Wikipedia</a>)</p></li>
	      <li><p><b><a href="http://www.tobitate.mext.go.jp/hs/program/tech/index.html">トビタテ！留学JAPAN</a><br></b><span style="font-size: 19.2px;">高校生・高専生・大学生を対象とした文科省主催の留学支援プログラムです。返済不要の奨学金や研修など通して、好きなことで留学できるのが特長です。詳細は<a href="https://coderdojo.jp/docs/tobitate-japan">コチラ</a>をご参照ください。</span></p></li>
	      <li><p><span style="font-size: 19.2px;"><a href="https://kuma-foundation.org/"><b>クマ財団</b></a><br></span>クリエイターを目指す25歳以下の<span style="font-size: 19.2px;"><span style="font-size: 20px;">学生の活動支援・助成</span></span>をする、返済義務を負わない「給付型奨学金​」です。120万円の年間給付金が支援されます。</p><p></p></li>
	      <li><p><span style="font-size: 19.2px;"><b><a href="https://www.shinfdn.org/">山田進太郎 D&amp;I 財団</a><br></b></span>誰もが自身の能力を発揮し活躍できる社会の実現へ寄与するために、高校入学時点でSTEM (理系) を選択する女子学生への奨学金プログラムです。</p><p></p></li>
	      <li><p><b><a href="https://masason-foundation.org/">孫正義育英財団</a><br></b>25歳以下を対象とした、分野を問わず自らの才能を存分に開花させて志を実現するために、特定の学問専攻・研究・事業展開などを志している方向けの支援プログラムです。</p></li>
	      <li><p><b><a href="https://www.recruit-foundation.org/">江副記念リクルート財団</a><br></b>25歳未満を対象とした、音楽·スポーツ·アート·学術の4分野で、「世界に挑戦し、ずば抜けた活躍を目指して」研鑽を積む日本の若者向け支援プログラムです。</p></li>
	      <li><p><b><a href="https://u22procon.com/">U-22 プログラミングコンテスト</a><br></b>22歳以下を対象とした、自らのアイデアと技術で新しい未来を拓く作品提出型コンテストです。最高賞の受賞者は、優勝賞金に加えて、下記「<a href="https://www.ipa.go.jp/jinzai/mitou/portal_index.html">未踏事業</a>」への推薦枠も使えるようになります。</p></li>
	      <li><p><b><a href="https://labs.cybozu.co.jp/youth/requirements.html">サイボウズ・ラボユース</a><br></b>個人のソフトウェア研究開発プロジェクトを応援する制度です。ラボユース生に採択された場合、サイボウズ・ラボ社員によるメンタリングや、最大103万円の奨励金などが受けられます。<br></p></li>
	      <li><p><b><a href="https://jr.mitou.org/">未踏ジュニア</a><br></b>17歳以下を対象とした小中高生クリエータ支援プログラムです。作りたいモノを作りながら、各業界で活躍するメンターからの定期的なフィードバックや、最大50万円の開発支援などが受けられます。</p></li>
	      <li><p><a href="https://www.ipa.go.jp/jinzai/mitou/portal_index.html"><b>未踏事業</b></a><br>25歳未満を対象とした人材発掘・育成事業プログラムです。独自の開発プロジェクトに対して、各業界で活躍するメンターからの定期的なフィードバックと約270万円の支援が行われます。(詳細: <a href="https://medium.com/@ukkaripon/%E6%9C%AA%E8%B8%8F%E3%81%AE%E9%AD%85%E5%8A%9B%E3%82%92%E7%9F%A5%E3%82%8D%E3%81%86-%E5%B0%8F%E4%B8%AD%E9%AB%98%E7%94%9F%E5%90%91%E3%81%91%E6%9C%AA%E8%B8%8F%E8%AA%AC%E6%98%8E%E4%BC%9A-%E3%82%92%E7%B5%82%E3%81%88%E3%81%A6-d67e88dfbcb2#.74e0d3bjz">未踏の魅力を知ろう：小中高生向け未踏説明会まとめ</a>)</p></li>
	      <li><p><b><a href="https://www.ipa.go.jp/jinzai/target/index.html">未踏ターゲット事業</a><br></b>中長期的視点で革新的技術を活用しイノベーションを起こしうる、先進分野のIT人材の発掘・育成を目的としたプログラムです。年度ごとにターゲット分野を定め、その分野に取り組む人材からのプロジェクト提案に対して約360万円の支援が行われます（年齢制限はありません）。</p></li>
	      <li><p><a href="https://www.ipa.go.jp/jinzai/advanced/index.html" style="font-weight: bold;">未踏アドバンスド事業</a><br>未踏性、市場性、事業性、開発実現性を備えたITを活用した革新的なアイディア・プロトタイプを有し、ビジネスや社会課題の解決につなげたいと考えているIT人材の支援プログラムです。１つのプロジェクトに対して約1,000万円の支援が行われます（年齢制限はありません）。<br></p></li>
	    </ul>
	  </div>
	  </div>

	  <div class="headline-anchor" id="startup"></div>
	    <h2 class="headline"> 立ち上げる</h2>
	  <div><img src="https://cdn0.scrvt.com/7f439707380cf52e2b1a72a47f74dd17/9f59f2512abd9f79/42332378c6eb/v/7a170a35238a/_------.png" style="padding-top:-50px;" class="img-responsive ls-is-cached lazyloaded" loading="lazy">
	  </div>
	  <br>
	  <div><div>
	    <p>CoderDojo の参加者が自由に作品を創れるように、<b>CoderDojo という「場」そのものを創ることもできます。</b></p>
	    <p>ただし、<a href="https://www.j-platpat.inpit.go.jp/c1800/TR/JP-1357811-20170505/5C263F4C39C728E3508F107B2F2A6E9A167FE92DE098F8B2D84E210E18FDA614/49/ja">「CoderDojo」という国際商標</a>を使うためのルールもあります。例えば CoderDojo では特定の性別や人種を理由に参加拒否したり、参加者に参加費を徴収することができません。もし会場費が掛かる場合であっても、募金やスポンサーなどを募って費用を工面する必要があります。</p><p></p><p>本項では皆さんが感じる不安や懸念を払拭できるように、Dojo を立ち上げるときのポイントや、資金を集める方法とその事例集、Dojo の申請方法、Dojo 承認後に得られる<a href="#support">法人からの支援一覧</a>などを説明していきます。</p>
	    <br>
	    <h2><b>まずは何を読むとよい?</b></h2>
	    <p>最初に CoderDojo の軸となる「CoderDojo 憲章」の内容を確認しましょう!</p>
	    <ul><li><b><a href="https://coderdojo.jp/charter">CoderDojo 憲章</a></b><br><br></li></ul><p>CoderDojo 憲章を確認し、ご同意していただけるようであれば、下記の運営者向け資料に目を通して、より具体的なイメージを掴んでいきます。</p>
	    <ul>
	      <li><p><b><a href="https://bit.ly/coderdojo-starter-kit-for-champions">Dojo 運営・企画資料 - はじめて CoderDojo を立ち上げる方のために</a></b><br>（制作: <a href="https://coderdojo-kodaira.github.io/">CoderDojo Kodaira</a>）</p></li>
	      <li><p><a href="https://coderdojo.jp/docs/fundraising-methods"><b>資金を募るときの活動事例</b></a> / <a href="https://coderdojo.jp/docs/fundraising-guidelines" style="background-color: rgb(255, 255, 255);"><b>資金を募るときの注意点</b></a><br>（会場費などの実費を工面する場面でお役立てください）</p></li>
	    </ul>
	    <br>
	    <p>具体的なイメージが掴めたら、準備・申請の手続きを進めていきましょう!</p><p><br></p><h2><b>Dojo の設立・初回開催までの流れ</b><span style="font-size: 20px; background-color: rgb(255, 255, 255);">（制作: </span><a href="https://coderdojo-kodaira.github.io/" style="font-size: 20px; background-color: rgb(255, 255, 255);">CoderDojo Kodaira</a><span style="font-size: 20px;">）</span></h2></div>
</div><div><img src="https://cdn0.scrvt.com/7f439707380cf52e2b1a72a47f74dd17/bee70fdf363c6a95/a5468ecda33b/v/b5dafb223bf5/coderdojo-startup-flowchart.png" style="padding-top:-50px;" class="img-responsive ls-is-cached lazyloaded" loading="lazy">
</div><div><div>
<h3><br></h3><p><br></p>
<h2><b>アカウント登録から、申請までの流れ</b></h2>
<p>CoderDojo の申請には、大きく分けて次の3つのステップがあります。<br><br></p>
<ol>
<li><p>Raspberry Pi アカウントを作成する</p></li>
<li><p>Champion (代表者) 情報を登録する</p></li>
<li>立ち上げる CoderDojo の情報を入力し、申請する</li>
</ol>
<p><br></p><p>本セクションでは「アカウントはまだ持っていない」という状態から、CoderDojo 申請までの流れをまとめています。既にアカウントをお持ちの場合、以下の 2. から読み進めてください。<br><br></p>
<ol>
<li>
<p>まずは CoderDojo を申請するために、Raspberry Pi アカウント (※) を作成します</p>
<p><b>・</b><a href="https://my.raspberrypi.org/signup">アカウント登録フォーム</a> <br>　13歳以上の場合は「13 and over」をクリックしてください。<br><br>※ CoderDojo と Raspberry Pi の合併に伴い、現在は１つのシステムに統合されています。合併の詳細は <a href="https://jp.techcrunch.com/2017/05/27/20170526raspberry-pi-foundation-and-coderdojo-to-code-club-together/">TechCrunch の記事</a>をご参照ください。<br><br></p>
</li>
<li>
<p>アカウント作成後、作成したアカウントで <a href="https://zen.coderdojo.com/login">CoderDojo Zen にログイン</a>してください (ログイン済みの場合は不要です)</p><p><br></p>
</li>
<li>
<p>ログイン後、画面上部にある「<a href="https://zen.coderdojo.com/start-dojo">道場を始める (Start a Dojo)</a>」ボタンをクリックし、必要な情報を入力していきます。<br><b>※ ページの一番下の左側から、言語を切り替えられます。</b>日本語や英語にも対応しているので、お好きな言語に切り替えてください。</p><p><br></p>
</li>
<li>
  <p>入力後、<a href="https://zen.coderdojo.com/charter">CoderDojo 憲章</a>に同意するかどうかを尋ねられます。内容をよくご確認していただき、問題なければ同意して次に進んでください。</p><p><b style="font-size: 19.2px;"><br></b></p></li>
<li>
<p>同意すると、Dojo立ち上げ時のチェック項目が表示されます。１つずつ確認しながら進めてください (<a href="https://coderdojo.jp/img/how-to-start-a-dojo.png">参考画面</a>)</p>
<p><b>✔︎ </b>チェック項目の例: 連絡先を設定したか、ボランティアに当てはあるか、安全性に問題はないか、など。すべての情報を完璧に揃える必要はありません! まずは気に留めておくぐらいで大丈夫です 🙆</p>
</li>
<li>
<p>最後に、登録する道場名などの情報を入力していきます (<a href="https://coderdojo.jp/img/how-to-name-a-dojo.png">参考画面</a>)</p>
<p>・⚠️ 「道場名」には<b>「地域名」または「地域名 @ 会場スポンサー名」</b>という名称を入力してください (日本語で大丈夫です 🆗)</p>
<p>・例: 「宜野湾」「札幌」「ひばりヶ丘 @ Hanare」「五反田 @ freee」</p>
<p><span style="font-size: 19.2px;"><b>・「CoderDojo」や「コーダー道場」という接頭語は不要</b>です。CoderDojo であることは自明なので ;)<br></span></p>
<p><span style="font-size: 19.2px;">・詳しくは「<b><a href="https://coderdojo.jp/docs/naming-guidelines">CoderDojo 命名ガイドライン</a>」</b>をご参照ください</span></p><span style="font-size: 19.2px;"><br></span><p></p><p></p></li>
<li>
<p>以上で CoderDojo の申請手続きは完了です! 👏</p>
<p>・後日、CoderDojo Foundation からメールが届くはずです (<a href="https://esa-pages.io/p/sharing/7542/posts/140/2963352d1fa7db71f1e6.html">メールの例</a>) 📨</p>
<p>・無事に承認されると <a href="https://zen.coderdojo.com/find">CoderDojo Zen (地図版) </a>から表示されるようになります 🗺</p>
<p><span style="font-size: 19.2px;">・詳細は <a href="https://coderdojo.jp/docs/how-to-check-dojo-status">CoderDojo が承認されているかの確認方法</a>をご参照ください ✅</span></p>
<br>
</li>
</ol>

<p>もし分からないことがあれば、<a href="https://www.facebook.com/groups/coderdojo.jp/">Facebook Group</a> やお近くの Dojo 運営者にご相談ください ☯️ 🏃💨 実際に申請したことのある経験者に聞いてみるのが早いです 😉</p>
<br>
<p><b>✍️ NOTE:</b> 申請が無事受理されると、毎年11月〜12月ごろに年度調査アンケートのメール（英語）が届くようになります。未回答の道場には後日<a href="https://www.facebook.com/groups/coderdojo.jp/permalink/2018794594900596/">「現在活動中ですか?」という確認メール</a>が届きます。このメールも未回答だと「活動停止中」と判断されるのでご注意ください。</p>
<br>
<p><b>お疲れ様でした!</b> 👏✨
  以上で一連の手続きは終わりになります。Dojo として承認されたら、次の項目「<b><a href="/kata#support">支援</a></b>」でまとめている各種プログラムに申請することができます。皆さんの CoderDojo 運営の一助になれば嬉しいです! 😸<br></p>
</div>
</div>

<div><div class="headline-anchor" id="support"></div>
<h2 class="headline">🤝 支援・資料</h2>
</div><div><img src="https://cdn0.scrvt.com/7f439707380cf52e2b1a72a47f74dd17/31f870a33b595e4a/bae36d6082ae/v/fe525297d6d2/_--.png" style="padding-top:-50px;" class="img-responsive ls-is-cached lazyloaded" loading="lazy">
</div><div><div><p><br>CoderDojo は国内外のパートナー企業から様々な支援を得ております。承認された Dojo では、必要に応じて次の支援を得ることができます。<a href="/kata#startup">CoderDojo を立ち上げて</a>、承認されたら、ぜひご活用ください 😆<br></p>
  <br>
  <ul>
    <li><p><b>CoderDojo Global Slack (提供: <a href="https://coderdojo.com/foundation/">CoderDojo Foundation</a>)</b></p><p>世界中の Dojo 関係者が集まる連絡網 (Slack) があります。英語でのコミュニケーションとなりますが、世界中の Dojo と情報交換できる貴重な場ですので、よければ<a href="https://coderdojo.com/coderdojo-global-slack/"><b>コチラ</b></a>から申請してみてください。</p>
      <br></li>
      <li><p><b>オンライン開催用ビデオ会議 (提供: <a href="https://coderdojo.com/foundation/">CoderDojo Foundation</a>)</b></p><p>CoderDojo 承認時にもらえる「道場名@coderdojo.com」というメールアドレスを使って、ビデオ会議サービスの <a href="https://zoom.us/docs/jp-jp/jp-info.html">Zoom</a> や <a href="https://apps.google.com/intl/ja/meet/">Google Meet</a> を使うと、時間制限などが一部解除された状態でご利用いただけます。詳細は「<a href="https://coderdojo.com/2020/08/28/three-options-for-running-your-coderdojo-sessions/">Three options for running your CoderDojo sessions (英語)</a>」をご参照ください。<br><br></p></li>
      <li><p><b>CoderDojo Japan Champions (提供: <a href="https://takadanobaba.keizai.biz/column/1/">CoderDojo Japan</a>)</b></p><p>日本全国の Dojo 代表者限定の非公開 Facebook グループもあります。このグループでは運営に関する相談や、運営者向けの非公開情報などを共有しています。Dojo が承認されたら<a href="https://www.facebook.com/groups/coderdojo.jp.champions/"><b>コチラ</b></a>からお気軽に申請してください。<br><br></p></li>
      <li><p><b>coderdojo.jp と近日開催の道場への掲載 (提供: <a href="https://coderdojo.jp/">CoderDojo Japan</a>)</b></p><p>希望する Dojo は、いつでも <a href="https://coderdojo.jp/#dojos">coderdojo.jp に掲載</a>することができます。また、<a href="https://www.doorkeeper.jp/">Doorkeeper</a> や <a href="https://connpass.com/">connpass</a> でイベントを管理・作成している場合は、<a href="https://coderdojo.jp/events">近日開催の道場</a>からイベントが自動的に周知されるようになります。準備ができたら<a href="https://coderdojo.jp/signup"><b>コチラ</b></a>から申請してください! 😸<br><br></p></li>
      <li><p><b>Doorkeeper スポンサーシップ (提供: <a href="https://yasslab.jp/ja/">YassLab</a> &amp; <a href="https://www.doorkeeper.jp/">Doorkeeper</a>)</b></p><p>希望する Dojo は、有償のイベント管理サービス「<a href="https://www.doorkeeper.jp/">Doorkeeper</a>」を無償でご利用いただけます。ご希望の Dojo は、YassLab 社が提供する <a href="https://yasslab.jp/ja/doorkeeper/"><b>Doorkeeper スポンサーシップ</b></a>からお気軽に申請してください。<br><br></p></li>
      <li><p><b>さくらのクラウド (提供: <a href="https://www.sakura.ad.jp/">さくらインターネット</a>)</b></p><p>希望する Dojo は、さくらインターネットが提供するクラウドサーバー (<a href="http://cloud.sakura.ad.jp/">さくらのクラウド</a>) を利用することができます。サーバーを得るための手順については、CoderDojo Japan が提供する <a href="https://github.com/coderdojo-japan/dojopaas"><b>DojoPaaS</b></a> をご参照ください。<br><br></p></li>
      <li><p><b>Progate 法人プラン (提供: <a href="https://prog-8.com/">Progate</a>)</b></p><p>希望する Dojo は、プログラミング学習サービス「Progate」の<a href="https://prtimes.jp/main/html/rd/p/000000045.000015015.html">法人プラン</a>が利用できます。利用方法については、全国の Dojo 代表者が参加する <a href="https://www.facebook.com/groups/coderdojo.jp.champions/permalink/2602207313204212/"><b>Champions グループの投稿</b></a>をご参照ください。<br><br></p></li>
      <li><p></p><p><b>HackforPlay 法人プラン (提供: <a href="http://hackforplay.xyz/">HackforPlay</a>)<br></b></p>希望する Dojo は、ゲームを作りながらプログラミングが学べるWebサービス「HackforPlay」の<a href="https://www.hackforplay.xyz/pages/post/enterprise">法人プラン</a>を利用できます。利用方法については、全国の Dojo 代表者が参加する <a href="https://www.facebook.com/groups/coderdojo.jp.champions/permalink/2801692616589013/"><b>Champions グループの投稿</b></a>をご参照ください。<br><br><p></p></li>
      <li><p></p><p><b>プログラミング問題 TOPSIC (提供: <a href="https://products.sint.co.jp/topsic">TOPSIC</a>)</b></p>希望する Dojo は、プログラミング問題を解いて学ぶサービス「TOPSIC」が利用できます。利用方法については、全国の Dojo 代表者が参加する <a href="https://www.facebook.com/groups/coderdojo.jp.champions/permalink/2304609409630672/"><b>Champions グループの投稿</b></a>をご参照ください。<br><br><p></p></li>
      <li><p><b>ドキュメント共有サービス (提供: <a href="https://esa.io/">esa.io</a>)</b></p><p>自律的なチームのためのドキュメント共有サービス「<a href="https://esa.io/">esa.io</a>」が利用できます。「情報を育てる」がコンセプトのサービスで、メンターや参加者と共有したい情報を貯めていきたいときに便利です。詳細は<a href="https://docs.esa.io/posts/239"><b>コチラ</b></a>から! (\( ⁰⊖⁰)/)<br><br></p></li>
      <li><p><b>TFabWorks製品の無償レンタル (提供: <a href="https://tfabworks.com/">TFabWorks</a>)</b></p><p>希望する Dojo は、TFabWorks 製品を中心とした micro:bit キットの無償レンタルプログラムに申請できます。ご希望の道場は、TFabWorks 社が提供する<a href="https://tfabworks.com/coderdojo-rental/"><b>コチラ</b></a>からお申し込みください。<br><br></p></li>
      <li><p><b>教育用ロボットアームの無償レンタル (提供: <a href="https://grips.co.jp/">GRIPS</a>)</b></p><p>希望する Dojo は、プログラミングできる教育用ロボットアーム「Dobot Magician Lite」がレンタルできます。同プログラムの詳細および申込フォームについては<b><a href="https://news.coderdojo.jp/2021/04/28/dobot-rental-program/">コチラ</a></b>をご参照ください。<br><br></p></li>
      <li><p><b>プログラミングでポケモンをうごかしてみよう (提供: <a href="https://news.coderdojo.jp/2021/04/23/programming-with-pokemon/">ポケモン</a>)</b></p><p>希望する Dojo は、所定の手続きを経た上で、ワークショッププログラム「プログラミングでポケモンをうごかしてみよう」を実施できます。詳細は <b><a href="https://www.facebook.com/groups/coderdojo.jp.champions/posts/3845580288866902/">Champions グループの投稿</a></b>をご参照ください。</p></li>
  </ul><p><br></p><p>一般社団法人 CoderDojo Japan では様々な企業・団体との連携を承っています。全国の CoderDojo との協力・提携に興味ありましたら、下記ページをご参照してください。<br></p>
  <p><b><a href="https://coderdojo.jp/docs/about-partnership">🤝 パートナーシップのご案内 - CoderDojo Japan</a></b></p>
  <br>
  <br>
  <h2><b>Dojo 運営者向け！役立つ資料まとめ</b></h2><p><span style="font-size: 19.2px;">法人からの支援だけでなく、CoderDojo コミュニティが CoderDojo コミュニティのために制作した資料もあります! 皆さんの Dojo 運営にお役立てください ;)<br><br></span></p><ul><li><p></p><p><b><a href="https://bit.ly/coderdojo-starter-kit-for-champions">Dojo 運営・企画資料 - はじめて CoderDojo を立ち上げる方のために</a><br></b>by <a href="https://coderdojo-kodaira.github.io/" style="background-color: rgb(255, 255, 255);">CoderDojo Kodaira</a></p></li>
    <li><p><b><a href="https://www.slideshare.net/mniizuma/ss-123239560">CoderDojo ひばりヶ丘の活動事例</a><br></b><span style="font-size: 19.2px;">by <a href="https://coderdojo.hanare-hibari.info/">CoderDojo ひばりヶ丘</a></span></p></li>
    <li><p><b><a href="https://coderdojoowari.org/news/how-to-start-owari">CoderDojo 尾張の作り方</a><br></b><span style="font-size: 19.2px;">by </span><span style="font-size: 19.2px; background-color: rgb(255, 255, 255);"><a href="https://coderdojoowari.org/">CoderDojo 尾張</a></span></p><p></p></li>
    <li><p></p><p></p><p><span style="font-size: 19.2px;"><b><a href="https://docs.google.com/document/d/1ufOVvxD8wLBvDixgE-33Ltroeae8cQ2DlsEsKUkaK00/edit">オンライン道場の開催方法</a></b><br></span><span style="font-size: 19.2px;">by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></span></p><p></p><p></p></li>
    <li><p><b><a href="https://education.microsoft.com/Story/Lesson?token=1Ofpv">Private CoderDojo を学校内に立ち上げる方法</a><br></b><span style="font-size: 19.2px;">by <a href="https://sites.google.com/view/coderdojomusamura/">CoderDojo 武蔵村山</a></span></p></li>
    <li><p><b><a href="https://coderdojo.jp/docs/fundraising-methods">資金を募るときの活動事例</a><br></b><span style="font-size: 19.2px;">by <a href="https://coderdojo.jp/">CoderDojo Japan</a></span></p></li>
    <li><p><b><a href="https://coderdojo.jp/docs/fundraising-guidelines">資金を募るときの注意点</a><br></b><span style="font-size: 19.2px;">by <a href="https://coderdojo.jp/">CoderDojo Japan</a></span></p></li>
    <li><p><b><a href="https://www.slideshare.net/y3sei/dojoconjapan2018workshopcontribute-by-hikari">自分にできる貢献の仕方を見つけよう</a></b><br>by <a href="https://coderdojo-hikari.com">CoderDojo 光</a></p></li>
    <li><p><b><a href="https://kichijojijp.wixsite.com/coderdojo/for-menter">メンターをする人へ</a><br></b><span style="font-size: 19.2px;">by <a href="https://kichijojijp.wixsite.com/coderdojo">CoderDojo 吉祥寺</a></span></p></li>
    <li><p><b><a href="https://www.slideshare.net/tomoyukisugita/dojocon-japan2018">メンターの心得</a><br></b><span style="font-size: 19.2px;">by <a href="http://coderdojo-nishinomiya.info/">CoderDojo 西宮/梅田</a></span></p></li>
    <li><p><b><a href="https://github.com/coderdojo-nishinomiya-umeda/document/blob/master/MentorAgreement.md">メンター同意書の作成例</a><br></b><span style="font-size: 19.2px;">by <a href="http://coderdojo-nishinomiya.info/">CoderDojo 西宮/梅田</a></span></p></li>
    <li><p><b><a href="https://www.slideshare.net/taniokah/mentoring-without-technical-skills-124569781">Mentoring without Technical Skills (日本語訳)</a><br></b><span style="font-size: 19.2px;">by <a href="https://cdtokushima.github.io/open/">CoderDojo 徳島</a></span></p></li>
    <li><p><b><a href="https://docs.google.com/presentation/d/1H4zLDRIP28S7tkoARKo2qoPybNrLViGsK8VYsAXDM7g/edit#slide=id.p">メンター・サポーター事前打ち合わせ</a><br></b><span style="font-size: 19.2px;">by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></span></p></li>
    <li><p><b><a href="https://drive.google.com/file/d/0B0iP2Y_R2PEEZHcwQjNmSjR3SUk/view">CoderDojo メンター用資料</a><br></b><span style="font-size: 19.2px;">by <a href="https://coderdojo-ise.jimdo.com/">CoderDojo 伊勢</a></span></p></li>
    <li><p><b><a href="https://coderdojo-gifu.org/how-to-register">Zen のアカウント作成 &amp; 参加申し込み方法</a><br></b><span style="font-size: 19.2px;">by </span><a href="https://coderdojo-gifu.org/" style="font-size: 19.2px; background-color: rgb(255, 255, 255);">CoderDojo 岐阜</a></p><p></p></li>
    <li><p><b><a href="https://coderdojoowari.org/about/emergency">台風・災害・緊急の時</a><br></b><span style="font-size: 19.2px;">by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></span></p></li>
    <li><p><b><a href="https://docs.google.com/document/d/1_BHBxqb_uK1bHV-_ZA7nx9wADmKV8rsNWebkV3QUNOQ/edit#heading=h.liei7p1jhrxs">CoderDojo Owari 規約</a><br></b><span style="font-size: 19.2px;">by <a href="https://coderdojoowari.org/">CoderDojo 尾張</a></span></p></li>
    <li><p><b><a href="https://drive.google.com/file/d/0B4RWVH6FrM8aUl9zdldWXzJBWGM/view">コーダー道場こだいら 会則</a><br></b><span style="font-size: 19.2px;">by <a href="https://coderdojo-kodaira.github.io/">CoderDojo Kodaira</a></span></p></li>
    <li><p><b><a href="https://www.slideshare.net/togazo/decadojo7may2017">DojoとDojo、そして地域！みんなつながる合同イベントのすすめ</a></b><br>by <a href="https://coderdojo-kodaira.github.io/">CoderDojo Kodaira</a></p></li>
    <li><p></p><p></p><p><b><a href="https://bit.ly/coderdojo-facilitators-guide">CoderDojo 初参加者向けワークショップ (スライド資料)</a><br></b>by <a href="https://coderdojo.com/">CoderDojo Foundation</a> &amp; <a href="https://dojocon2019.coderdojo.jp/workshop/1/">DojoCon Japan 2019 実行委員会</a></p><p></p><p></p></li>
  </ul>
  
  <ul>
    <li><p><b><a href="https://coderdojo.jp/docs/recommended-practice">推奨活動ガイドライン</a></b><br>by <a href="https://coderdojo.com/">CoderDojo Foundation</a> &amp; <a href="https://coderdojo.jp/">CoderDojo Japan</a></p></li>
    <li><p><b><a href="https://coderdojo.jp/docs/naming-guidelines">CoderDojo 命名ガイドライン</a><br></b>by <a href="https://coderdojo.com/foundation/">CoderDojo Foundation</a> &amp; <a href="https://coderdojo.jp/">CoderDojo Japan</a></p></li>
    <li><p><a href="https://docs.google.com/document/d/1E4V3Qq52Q7Slub0jOykzJikAdPiilzW4ZgNtOCaiEf0/edit?usp=sharing"><b>CoderDojo 地域グループ<span style="font-size: 19.2px;">設立ガイダンス</span></b></a><span style="font-size: 19.2px;"><br>by <a href="https://coderdojo.com/">CoderDojo Foundation</a> </span><span style="font-size: 19.2px;">&amp; <a href="https://coderdojo.jp/">CoderDojo Japan</a></span><br></p></li>
    <li><p><b><a href="https://coderdojo.jp/docs/regional-license">CoderDojo 地域ライセンス契約書 (日英併記)</a></b><br>by <a href="https://coderdojo.com/">CoderDojo Foundation</a> &amp; <a href="https://coderdojo.jp/">CoderDojo Japan</a></p></li>
    <li><b><a href="https://coderdojo.com/start-a-dojo/">Create a Dojo (英語)</a></b><br>by <a href="https://coderdojo.com/foundation/">CoderDojo Foundation</a><br><br></li>
  </ul>
  <br>
  <h3><b>他、関連リンク</b></h3>
  <p>CoderDojo は国際的なコミュニティで、海外でも大きな輪が広がっています。ぜひ国内外の CoderDojo と繋がってみてください。</p>
  <br>
  <p><b>英語</b> (運営: CoderDojo Foundation)</p>
  <ul>
    <li><p><span style="background-color: rgb(255, 255, 255);"><a href="https://coderdojo.com/">Webサイト</a></span> (coderdojo.com)<br></p></li>
    <li><p><a href="https://zen.coderdojo.com/">世界の道場</a> (CoderDojo Zen)<br></p></li>
    <li><p><a href="https://twitter.com/CoderDojo">Twitter アカウント</a> (@CoderDojo)</p></li>
    <li><p><a href="https://coderdojo.com/coderdojo-global-slack/">CoderDojo Global Slack</a> (チャットツール)</p></li>
    <li><p><a href="https://github.com/coderdojo">GitHub Organization</a> (ソースコード共有用)</p></li>
  </ul>
  <br>
  <p><b>日本語</b> (運営: CoderDojo Japan)</p>
  <ul>
    <li><p><a href="/">Webサイト</a> (coderdojo.jp)</p></li>
    <li><p><a href="https://coderdojo.jp/events">近日開催の道場</a> (coderdojo.jp)</p></li>
    <li><p><a href="https://twitter.com/coderdojojapan">Twitter アカウント</a> (最新情報を発信します)</p></li>
    <li><p><a href="Facebook (一般公開グループ)">Facebook グループ</a> (開催報告・相談用グループ)<br></p></li>
    <li><p><a href="http://github.com/coderdojo-japan">GitHub Organization</a> (ソースコード共有用)<br></p></li>
  </ul>
</div>
</div>

<div>
  <div class="headline-anchor" id="faq"></div>
  <h2 class="headline">📑 FAQ</h2>
</div>
<div><img src="https://cdn0.scrvt.com/7f439707380cf52e2b1a72a47f74dd17/1ed8cc564c7cda77/0f88b4cf623b/v/ab64936ac554/CDJ_Stats_2019_Participants.png" style="padding-top:-50px;" class="img-responsive ls-is-cached lazyloaded" loading="lazy">
</div><div><div>
  <p>よくある質問を本項にまとめています。ご参考になれば幸いです 😸</p>
  <br>
<ul>
  <li><b>Q. 日本の CoderDojo の統計データってありますか?<br></b><p>全国の CoderDojo 数の推移については下記ページをご参照ください</p>
    <p><b><a href="https://coderdojo.jp/stats">📊 統計情報 - CoderDojo Japan</a></b></p>
  </li>
  <br>
  <li><p><b>Q. coderdojo.jp に掲載するにはどうすればよいですか?<br></b><span style="font-size: 19.2px;"><a href="#startup">Dojo の立ち上げ</a>が完了したら、下記フォームから申請してください</span></p><p><b><a href="http://bit.ly/coderdojo-japan-signup">📮 CoderDojo Japan への Dojo 掲載申請フォーム</a><br><br></b></p></li><li><p></p><p></p><p><b>Q. 「近日開催の道場」に connpass のイベントが表示されません</b></p><p><a href="https://coderdojo.jp/events">近日開催の道場</a>で表示するためには <a href="https://connpass.com/about/api/">connpass のグループID</a>が必要となり、グループIDの検出には１回以上のイベント作成が必要です。イベント作成後、<a href="https://coderdojo.jp/#contact">お問い合わせ</a>いただけると幸いです。（<a href="https://github.com/coderdojo-japan/coderdojo.jp/commit/12b3ac1bb3b59f0d5e1a518d0cde432b8bd823dc">対応例</a>）<br><br></p><p></p><p></p></li>
  <li>
    <p><b>Q. coderdojo.jp の道場情報を更新するにはどうすればよいですか?<br></b><span style="font-size: 19.2px;">GitHub の README にしたがって修正をお願いいたします ;)</span></p>
    <p><b><a href="https://github.com/coderdojo-japan/coderdojo.jp#coderdojo-japan">🛠 README (1. Dojo 情報やドキュメントの修正) - GitHub</a></b></p>
    <br>
  </li>
  <li>
    <p><b>Q. 「コーダードウジョウ」の正しい表記を教えてください<br></b><span style="font-size: 19.2px;">「CoderDojo」が正しい表記になります。詳細は下記ページをご参照ください</span></p>
    <p><b><a href="https://coderdojo.jp/docs/brand-guidelines">📜 CoderDojo ブランドガイドライン - CoderDojo Japan</a></b></p>
    <br>
  </li>
  <li>
    <p><b>Q. CoderDojo のロゴ画像はどこで手に入りますか?<br></b>
      <span style="font-size: 19.2px;">下記サイトにロゴ画像、利用ガイドラインが記載されています</span></p>
    <p><b><a href="https://coderdojo.jp/docs/brand-guidelines">📜 CoderDojo ブランド ガイドライン - CoderDojo Japan</a></b></p>
    <br>
  </li>
  <li>
    <p><b>Q. CoderDojo は学生でも立ち上げることができますか?</b><br>
      <span style="font-size: 19.2px;">はい、19歳以上の方であれば誰でも申請できます。また、14歳以上18歳以下の場合においても、一緒に運営してくれる大人または保護者がいれば、その情報を入力することで CoderDojo の申請をすることができます。</span></p>
    <p>ただし、必ず承認されるわけではないので、あらかじめご了承していただけると幸いです。また、Slack などの各種サービスには<a href="https://slack.com/intl/ja-jp/terms-of-service/user">年齢制限がある</a>ため、利用規約の条件を満たしているかどうかにもご注意ください。</p>
    <p><b><a href="https://coderdojo.com/start-a-dojo/">☯️ Start a Dojo - CoderDojo Foundation</a></b></p>
    <p><b><a href="https://speakerdeck.com/yu_san_19/why-dont-you-enjoy-the-youth-champion-at-dojocon-japan-2018">📑 Why don't you enjoy the youth champion? (日本の事例)</a></b></p>
    <br>
  </li>
  <li>
    <p><b>Q. 立ち上げた道場が承認されたかどうか確認する方法はありますか?</b></p>
    <p><span style="font-size: 19.2px;">はい、あります。CoderDojo Zen の「</span><b style="font-size: 19.2px;"><a href="https://zen.coderdojo.com/find">参加するDojoを探す</a></b><span style="font-size: 19.2px;">」機能で、立ち上げた Dojo 名を検索してみてください。承認されていれば地図上に表示されます。表示されない場合は、まだ承認されていないか、もしくは Dojo の現在の状態が「アクティブ」になっていないはずです。</span></p>
    <p><b><a href="https://coderdojo.jp/docs/how-to-change-dojo-status">📜 CoderDojo の現在の状態を 「アクティブ」に変更する</a></b></p>
    <br>
  </li>
  <li>
    <p><b>Q. Dojo の継続的な活動が難しくなりそうです。どうすればよいですか?</b><br>
      <span style="font-size: 19.2px;">CoderDojo 運営者向けのガイドラインを用意しました! ご参考にしていただけると幸いです。</span></p>
    <p><b><a href="https://coderdojo.jp/docs/how-to-suspend-your-dojo">📜 CoderDojo の運営が難しくなったときのガイドライン</a></b></p><br>
  </li>
  <li>
    <p><b>Q. Dojo の名称を変更したいです。どうすればよいですか?</b><br>
      <span style="font-size: 19.2px;">CoderDojo 運営者向けのガイドラインを用意しました! ご参考にしていただけると幸いです。</span></p>
    <p><b><a href="https://coderdojo.jp/docs/how-to-change-dojo-name">📜 CoderDojo の名称を変更するときのガイドライン</a></b></p>
    <br>
  </li>
  <li>
    <p><b>Q. CoderDojo Japan との連携を検討してます。どうすればよいですか?</b><br>
      <span style="font-size: 19.2px;">パートナーシップを検討されている法人/行政向けに下記のご案内をしております。下記ページより詳細をご参照していただけると嬉しいです。</span></p>
    <p><b><a href="https://coderdojo.jp/docs/about-partnership">📜 パートナーシップのご案内 - CoderDojo Japan</a> (法人向け)</b></p>
    <p><b><a href="https://coderdojo.jp/docs/about-coderdojo">📜 子どものためのプログラミング道場「CoderDojo」について</a> (行政向け)</b></p>
    <br>
  </li>
  <li>
    <p><b>Q. このページを編集したいときはどうすればよいでしょうか?</b><br>
      <span style="font-size: 19.2px;">GitHub の README に記載されている手順にしたがって編集が可能です 📝</span></p>
    <p><b><a href="https://github.com/coderdojo-japan/coderdojo.jp#coderdojo-japan">🛠 README (2. CoderDojo Kata の執筆・編集) - GitHub</a></b></p>
  </li>
</ul>
<br>
<br>
<h3><b>ライセンス</b></h3>
<p>本ページの内容は「<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja">表示 - 非営利 - 継承 4.0 国際 (CC BY-NC-SA 4.0)</a>」のもとで自由に共有・翻案することができます。</p>
<p>本ページのリンク先のコンテンツについては、各コンテンツの著作権およびライセンスに従ってください。</p>
<br>
</div>
</div></div>

<hr>
<p align="right" style="color: grey; padding-bottom: 50px;">
  <!-- TODO: Implement dynamically? (更新日: = @obj.last_changed.strftime("%Y年%m月%d日")) -->
  更新日: 2021年9月4日
</p>
      </div>
    </div>
  </div>
</section>
