/ Google replace Emoji with whitespace when indexing.
/ So we need to remove the emoji letter from OGP title.
- provide :title, @doc.title[2..-1]
- provide :desc,  @doc.description
- provide :url,   @url
- provide :lang,  @lang

.container{style: "line-height: 1.9em;"}
  %section.doc{style: "padding: 50px 0px 100px 0px;"}
    = raw @content
