<% provide(:title, @title) %>
<% provide(:url,   @url) %>
<div class="container" style="line-height: 1.9em;">
<section class="keiyaku" style="padding: 50px 0px 50px 0px;">
  <%= raw @content %>
</section>
</div>

<%= render 'shared/footer_page' %>
