<% provide :title, full_title('Scratch でつくる! たのしむ! プログラミング道場') %>
<% provide :desc,  "CoderDojo Japan 公式ブックのスプライト素材や解答例をまとめています。" %>
<% provide :meta_image,  "/img/ogp-sotechsha.png" %>

<div class="container-fluid">
  <div class="col-md-6 center" id="top">
    <%= lazy_image_tag('sotechsha-1_book-cover.png', alt: 'Scratchでつくる! たのしむ! プログラミング道場', style: 'margin-bottom: 20px;', min: true) %>

    <div style="text-align: center; font-size: 19.2px; ">
      <p>本ページでは書籍で利用する素材や課題の解答例を掲載しています。</p>
      <p>本書に関するお問い合わせは<a href="http://sotechsha.co.jp/dokusha/">コチラ</a>から 📮</p>
    </div>
  </div>

  <div class="col-md-6">
    <h3><strong>スプライト素材のダウンロード</strong></h3>
    <p>書籍内でタカシくんが使っているものと同じスプライト素材をダウンロードしていただけます。</p>
    <br>
    <a class="btn btn-warning btn-block" href="/sotechsha/gazou">もっと見る</a>
    <hr>

    <h3><strong>序章課題</strong></h3>
    <h2>リンゴが消えて、別の場所から出てくるようにするには？</h2>
    <br>
    <p><b>課題内容（書籍P.32）</b></p>
    <p>ネコがリンゴにさわったら、リンゴが消えて別の場所から出てくるようにスクリプトを作り直してみよう。ネコがリンゴにさわったときに、リンゴの位置をランダムに設定し直すと、ちがった動きに...</p>
    <br>
    <a class="btn btn-warning btn-block" href="/sotechsha/0">もっと見る</a>
    <hr>

    <h3><strong>１章課題</strong></h3>
    <h2>両手で両目を隠すようにプログラムするには？</h2>
    <br>
    <p><b>課題内容（書籍P.58）</b></p>
    <p>前ページのコラムで紹介したメッセージを使って、両手で両目を隠すようにプログラムしてみよう。スプライトを複製する必要があるよ。</p>
    <br>
    <a class="btn btn-warning btn-block" href="/sotechsha/1">もっと見る</a>
    <hr>

    <h3><strong>２章課題</strong></h3>
    <h2>五角形や六角形をかいてみよう</h2>
    <br>
    <p><b>課題内容（書籍P.78）</b></p>
    <p>タカシくんが作らなかった、五角形や六角形をかくプログラムを作ってみよう。</p>
    <br>
    <a class="btn btn-warning btn-block" href="/sotechsha/2">もっと見る</a>
    <hr>

    <h3><strong>３章課題</strong></h3>
    <h2>アンサンブルにチャレンジしよう！</h2>
    <br>
    <p><b>課題内容（書籍P.92）</b></p>
    <p>いろんな音を同時に出せるということは、スクラッチの世界のなかで、ほかの人やコンピュータと合奏することもできるってことだね。ちょっとすごいと思わない？</p>
    <p>スクラッチは音楽データを再生することもできるんだ。だから、コンピュータには自分の好きな音楽を演奏してもらって、それに合わせてキーボードやマウスを操作して、楽器やドラムの音を出してみよう。</p>
    <br>
    <a class="btn btn-warning btn-block" href="/sotechsha/3">もっと見る</a>
    <hr>

    <h3><strong>４章課題</strong></h3>
    <h2>最後の問題だけ得点を2倍にするには?</h2>
    <br>
    <p><b>課題内容（書籍P.114）</b></p>
    <p>最後の問題だけ得点を2倍にしてみよう！</p>
    <p><b>「もし〜なら　〜でなければ」</b>のブロックを使って、最後の問題のときだけ得点を2倍にするスクリプトを作ればできるはずだよ。最後の問題かどうかを確認するにはリス トの長さを調べる<b>「〜の長さ」</b>と何かを比べるとわかるよ。</p>
    <br>
    <a class="btn btn-warning btn-block" href="/sotechsha/4">もっと見る</a>
    <hr>

    <h3><strong>５章課題</strong></h3>
    <h2>忍者をジャンプさせよう</h2>
    <br>
    <p><b>課題内容（書籍P.132）</b></p>
    <p>自由に走れるようになった忍者にジャンプをさせてみよう。<b>「y座標を○ずつ変える」</b>のブロックを使うと、忍者を縦方向にも動かすことが...</p>
    <br>
    <a class="btn btn-warning btn-block" href="/sotechsha/5">もっと見る</a>
    <hr>

    <h3><strong>６章課題</strong></h3>
    <h2>手裏剣が敵に当たったときに、消えるようにしてみよう</h2>
    <br>
    <p><b>課題内容（書籍P.152）</b></p>
    <p>いまのままだと手裏剣が敵にぶつかっても貫通してしまうよね。手裏剣が敵にぶつかったときに、手裏剣と敵が一緒に消えるようにしてみよう！かなり難しいから、腕を磨きたいニンジャはぜひ挑戦してみてね。</p>
    <br>
    <a class="btn btn-warning btn-block" href="/sotechsha/6">もっと見る</a>
    <hr>

    <%= render 'shared/social_buttons_raw' %>

    <nav class="navbar">
      <ul class="nav navbar-nav">
	<li>
	  <span class="list-group">
	    <a class="list-group-item list-group-item-success text-center" href="/sotechsha/gazou">スプライト素材のダウンロード</a>
	  </span>
	</li>
	<li>
	  <span class="list-group">
	    <a class="list-group-item list-group-item-success text-center" href="/sotechsha/0">序章課題</a>
	  </span>
	</li>
	<li>
	  <span class="list-group">
	    <a class="list-group-item list-group-item-success text-center" href="/sotechsha/1">１章課題</a>
	  </span>
	</li>
	<li>
	  <span class="list-group">
	    <a class="list-group-item list-group-item-success text-center" href="/sotechsha/2">２章課題</a>
	  </span>
	</li>
	<li>
	  <span class="list-group">
	    <a class="list-group-item list-group-item-success text-center" href="/sotechsha/3">３章課題</a>
	  </span>
	</li>
	<li>
	  <span class="list-group">
	    <a class="list-group-item list-group-item-success text-center" href="/sotechsha/4">４章課題</a>
	  </span>
	</li>
	<li>
	  <span class="list-group">
	    <a class="list-group-item list-group-item-success text-center" href="/sotechsha/5">５章課題</a>
	  </span>
	</li>
	<li>
	  <span class="list-group">
	    <a class="list-group-item list-group-item-success text-center" href="/sotechsha/6">６章課題</a>
	  </span>
	</li>
      </ul>
    </nav>

    <hr>
    <br>
  </div>
</div>
