<% if @obj && !@obj.permalink.nil?  %>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          目次 <i class="fa fa-bars"></i>
	</button>
	<a class="navbar-brand" href="#top">CoderDojo Kata</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
	  <li>
            <a href="#README">はじめに</a>
          </li>
          <li>
            <a href="#learn">学ぶ</a>
          </li>
	  <li>
            <a href="#challenge">腕試し</a>
          </li>
	  <li>
            <a href="#startup">立ち上げる</a>
          </li>
	  <li>
            <a href="#support">支援</a>
          </li>
	  <li>
            <a href="#faq">FAQ</a>
          </li>


	</ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="padding-top: 100px; background-image: url('img/kata-cover.png')">
    <div class="container">
      <div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>CoderDojo Kata</h1>
            <h2 class="subheading">道場情報まとめ</h2>
          </div>
	</div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 fontsize-bigger">
	  <%= scrivito_tag :div, @obj, :body %>
	  <hr>
	  <p align="right" style="color: grey; padding-bottom: 50px;">更新日: <%= @obj.last_changed.strftime("%Y年%m月%d日") %></p>
	</div>
      </div>
    </div>
  </article>

<% else %>
  <%= scrivito_tag :div, @obj, :body %>
<% end %>

<%= render "shared/footer_page" %>
