%body
  - if @obj && !@obj.permalink.nil?
    / Navigation
    %nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            ç›®æ¬¡
            %i.fa.fa-bars
          %a.navbar-brand{:href => "#top"} CoderDojo Kata
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.search
              %input#searchbox{ :placeholder => "ðŸ” æ¤œç´¢", :type => "text" }
              #hits
              #pagination
            %li
              %a{:href => "#README"} ã¯ã˜ã‚ã«
            %li
              %a{:href => "#learn"} å­¦ã¶
            %li
              %a{:href => "#challenge"} è…•è©¦ã—
            %li
              %a{:href => "#startup"} ç«‹ã¡ä¸Šã’ã‚‹
            %li
              %a{:href => "#support"} æ”¯æ´
            %li
              %a{:href => "#faq"} FAQ
        / /.navbar-collapse
      / /.container
    / Page Header
    / Set your background image for this header on the line below.
    %header.intro-header{:style => "padding-top: 100px; background-image: url('img/kata-cover.png')"}
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .post-heading
              %h1 CoderDojo Kata
              %h2.subheading é“å ´æƒ…å ±ã¾ã¨ã‚
            
    / Post Content        
    %article 
      .container 
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.fontsize-bigger
            / Navigator
            %p{:style => "margin-top: -35px; padding-bottom: 20px;"}
              %a{:href => "/"}ãƒˆãƒƒãƒ—
              â†’ Kata
            / Scrivito contents
            = scrivito_tag :div, @obj, :body
            %hr/
            %p{:align => "right", :style => "color: grey; padding-bottom: 50px;"}
              æ›´æ–°æ—¥: #{@obj.last_changed.strftime("%Yå¹´%mæœˆ%dæ—¥")}
  - else
    = scrivito_tag :div, @obj, :body
