<footer class="footer-bottom full-width text-center ">
  <h2>
      <a href="/" class="footer-link">ホーム</a>
    | <a href="/kata" class="footer-link">Kata (Wiki)</a>
    | <a href="/sotechsha" class="footer-link">公式ブック</a>
  </h2>
  <p>本WEBサイトのソースコードや社団法人の定款などは <a href="https://github.com/coderdojo-japan/" class="footer-link">GitHub</a> 上で公開されています。</p>
  <p>Copyright © 2016 一般社団法人 CoderDojo Japan</p>
</footer>
