<footer class="text-right">
  <p class="text-muted" style="font-size:80%;">Developed and designed by <a href="http://yasslab.jp/">YassLab</a>.<br />
  Copyright © 2012-2017 <a href="/">CoderDojo Japan</a>.</p>
</footer>
