%footer#footer.footer-bottom.text-center
  %h2{:style => "line-height: 30px;"}
    %a.footer-link{:href => "/"} ホーム
    |
    %a.footer-link{:href => "/kata"} Kata (Wiki)
    |
    %a.footer-link{:href => "/docs/charter"} 憲章
    |
    %a.footer-link{:href => "/docs/teikan"} 定款
    |
    %a.footer-link{:href => "/docs/join-in-board"} 理事募集
    |
    %a.footer-link{:href => "/sotechsha"} 公式ブック
    |
    %a.footer-link{:href => "http://dojocast.coderdojo.jp/"} Podcast
  %h2
    %a{:href => "https://github.com/coderdojo-japan"}
      %i.fa.fa-github.fa-3x.fa-fw{"aria-hidden" => "true"}
    %a{:href => "https://www.facebook.com/coderdojo.jp/"}
      %i.fa.fa-facebook.fa-3x.fa-fw{"aria-hidden" => "true"}
    %a{:href => "https://twitter.com/CoderDojoJapan"}
      %i.fa.fa-twitter.fa-3x.fa-fw{"aria-hidden" => "true"}
    %a{:href => "https://www.youtube.com/channel/UCal5GuoCDCMDQe07w69TuJA"}
      %i.fa.fa-youtube.fa-3x.fa-fw{"aria-hidden" => "true"}
    %a{:href => "http://dojocast.coderdojo.jp/"}
      %i.fa.fa-podcast.fa-3x.fa-fw{"aria-hidden" => "true"}
  %p
    本サイトのソースコードや社団法人の定款などは
    %a.footer-link{:href => "https://github.com/coderdojo-japan/"} GitHub
    上で公開されています。
    %br/
    本サイトのプライバシーポリシーは
    %a.footer-link{:href => "/docs/privacy"}> こちら
    をご参照ください。
  %p
    Copyright © 2012-2017 一般社団法人 CoderDojo Japan
    %br/
    東京都新宿区高田馬場1-28-10 三慶ビル4F CASE Shinjuku
