<footer class="text-right">
    <p><a href="/">CoderDojo Japan公式ホームページ</a> |
      <a href="https://www.amazon.co.jp/exec/obidos/ASIN/4800711517/sotechscojp-22">Amazon(書籍リンク)</a> |
      <a href="#">正誤表リンク</a></p>
    <p class="text-muted">Copyright © 2016 YassLab All Rights Reserved.</p>
</footer>
