<footer id="footer" class="footer-bottom text-center ">
  <h2 style="line-height: 30px;">
    <a href="/"               class="footer-link">ホーム</a>
    | <a href="/kata"         class="footer-link">Kata (Wiki)</a>
    | <a href="/docs/charter" class="footer-link">憲章</a>
    | <a href="/docs/teikan"  class="footer-link">定款</a>
    | <a href="/docs/join-in-board"    class="footer-link">理事募集</a>
    | <a href="/sotechsha"    class="footer-link">公式ブック</a>
    | <a href="http://dojocast.coderdojo.jp/" class="footer-link">Podcast</a>
  </h2>
  <h2>
    <a href="https://github.com/coderdojo-japan"><i class="fa fa-github  fa-3x fa-fw"
						    aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/coderdojo.jp/"><i class="fa fa-facebook fa-3x fa-fw"
						    aria-hidden="true"></i></a>
    <a href="https://twitter.com/CoderDojoJapan"><i class="fa fa-twitter fa-3x fa-fw"
						    aria-hidden="true"></i></a>
    <a href="http://dojocast.coderdojo.jp/"><i class="fa fa-podcast fa-3x fa-fw"
					            aria-hidden="true"></i></a>
  </h2>
  
  <p>本サイトのソースコードや社団法人の定款などは <a href="https://github.com/coderdojo-japan/" class="footer-link">GitHub</a> 上で公開されています。<br />
  本サイトのプライバシーポリシーは<a href="/docs/privacy" class="footer-link">こちら</a>をご参照ください。</p>
  <p>Copyright © 2012-2017 一般社団法人 CoderDojo Japan<br />
    東京都新宿区高田馬場1-28-10 三慶ビル4F CASE Shinjuku</p>
</footer>
