%footer#footer.footer-bottom.text-center
  %h2{style: "line-height: 30px;"}
    %a.footer-link{href: "/"} Top
    |
    %a.footer-link{href: "/kata"} Kata
    |
    %a.footer-link{href: "/#news"} News
    |
    %a.footer-link{href: "/docs"} 資料
    |
    %a.footer-link{href: "/charter"} 憲章
    |
    %a.footer-link{href: "/stats"} 統計
    |
    %a.footer-link{href: "/sotechsha2"} 書籍
    |
    %a.footer-link{href: "https://map.coderdojo.jp/"} 地図
    |
    %a.footer-link{href: "/privacy"} Privacy
    |
    %a.footer-link{href: "/podcasts"} Podcast
    |
    %a.footer-link{href: "https://decadojo.coderdojo.jp/"} DecaDojo
    |
    %a.footer-link{href: "https://dojocon.coderdojo.jp/"} DojoCon
    |
    %a.footer-link{href: "/english", hreflang: 'en'} English
  %h2
    %a{href: "http://news.coderdojo.jp/", target: "_blank", rel: "external noopener"}
      %i.fa.fa-newspaper-o.fa-3x.fa-fw{"aria-hidden" => "true", title: "News"}
    /%a{href: "https://github.com/coderdojo-japan"} / GitHub は直後の文章でリンクがあるので省略
    / %i.fa.fa-github.fa-3x.fa-fw{"aria-hidden" => "true", :title => "GitHub"}
    %a{href: "https://www.facebook.com/coderdojo.jp/"}
      %i.fa.fa-facebook.fa-3x.fa-fw{"aria-hidden" => "true", title: "Facebook"}
    %a{href: "https://twitter.com/CoderDojoJapan"}
      %i.fa.fa-twitter.fa-3x.fa-fw{"aria-hidden" => "true", title: "Twitter"}
    %a{href: "https://www.youtube.com/CoderDojoJapan"}
      %i.fa.fa-youtube.fa-3x.fa-fw{"aria-hidden" => "true", title: "YouTube"}
    %a{href: "/podcasts" }
      %i.fa.fa-podcast.fa-3x.fa-fw{"aria-hidden" => "true", title: "Podcast"}
    %a{href: "/english" }
      %i.fa.fa-globe.fa-3x.fa-fw{"aria-hidden" => "true", title: "English"}
  %p{style: "margin-bottom: 30px;"}
    本サイトのソースコードは
    %br.ignore-pc
    %a.footer-link{href: "https://github.com/coderdojo-japan/coderdojo.jp"} GitHub
    上で公開されています。
  %p{style: "font-size: 90%; color: \#DDDDDD;"}
    Copyright &copy;
    %a{href: "/about-coderdojo-japan", style: "color: \#DDDDDD; text-decoration: none;"}
      一般社団法人 CoderDojo Japan
    %br/
    新宿区高田馬場1-28-10 三慶ビル4F
    %a{href: "https://case-shinjuku.com/", style: "color: \#DDDDDD; text-decoration: none;"}
      ケイス新宿
