:css
  .navbar-custom.is-fixed .nav li a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }

  .navbar-custom .nav li a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
  }

%nav.navbar.navbar-default.navbar-custom.navbar-fixed-top.off-canvas-nav-dark.off-canvas-nav{:style => "background-color: #2977c7;"}
  .container-fluid{:class => "responsive-nav-contents"}
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button" , :style => "color: #ffffff;"}
        %span.sr-only Toggle navigation
        目次
        %i.fa.fa-bars
      %site-branding
        = link_to image_tag('logo_japan_opacity.png', alt: 'CoderDojo Opacity', class: 'site-branding__heading col-md-4 col-xs-10', style: 'height: auto;'),'#top'
      / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#dojos"} 全国の道場
        %li
          %a{:href => "#upcoming_topic"} 最近の話題
        %li
          %a{:href => "#detail"} もっと詳しく知りたい
        %li
          %a{:href => "#partners"} パートナー
        %li
          %a{:href => "#newsletter"} ニュースレター購読
        %li
          %a{:href => "#inquiry"} お問い合わせ
