<section id="app" class="text-center grayscale-bg" style="padding-top: 50px; padding-bottom: 100px;">
  <h4 id="subscribe" style="text-align: center; padding-top: 50px; padding-bottom: 10px;">🎧 アプリで聴く</h4>
  <a href="https://podcasts.apple.com/us/podcast/dojocast/id1458122473?itsct=podcast_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;">
    <%= lazy_image_tag('https://tools.applemediaservices.com/api/badges/listen-on-apple-podcasts/badge/ja-JP?size=250x83&amp;releaseDate=1596412800&h=47ef418d9788a856fa78aa97c154cfe5', alt: 'Listen on Apple Podcasts', style: 'border-radius: 13px; width: 250px; height: 83px;') %>
  </a>
</section>
