<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <% @sts_posts.each do |sts_post| %>
    <li>
    <%= link_to(scrivito_value(sts_post.title), scrivito_path(sts_post), :class => "text-center") %></li>
    <% end %>
  </ul>
</nav>
<hr>
<p class="text-right">
  <a href="/sotechsha#top">トップ</a> |
  <a href="http://www.sotechsha.co.jp/sp/1151/">正誤表</a> |
  <a href="/#dojos">全国の道場</a>
</p>
