%nav.navbar
  %ul.nav.navbar-nav
    - @sts_posts.each do |sts_post|
      %li
        %span.list-group
          = link_to(scrivito_value(sts_post.title), scrivito_path(sts_post), :class => "list-group-item list-group-item-success text-center")
%hr/
%br/
