%nav.navbar
  %ul.nav.navbar-nav
    %li
      %span.list-group
        %a.list-group-item.list-group-item-success.text-center{:href => "/sotechsha2/gazou"} スプライト素材のダウンロード
    %li
      %span.list-group
        %a.list-group-item.list-group-item-success.text-center{:href => "/sotechsha2/0"} 序章課題
    %li
      %span.list-group
        %a.list-group-item.list-group-item-success.text-center{:href => "/sotechsha2/1"} １章課題
    %li
      %span.list-group
        %a.list-group-item.list-group-item-success.text-center{:href => "/sotechsha2/2"} ２章課題
    %li
      %span.list-group
        %a.list-group-item.list-group-item-success.text-center{:href => "/sotechsha2/3"} ３章課題
    %li
      %span.list-group
        %a.list-group-item.list-group-item-success.text-center{:href => "/sotechsha2/4"} ４章課題
    %li
      %span.list-group
        %a.list-group-item.list-group-item-success.text-center{:href => "/sotechsha2/5"} ５章課題
    %li
      %span.list-group
        %a.list-group-item.list-group-item-success.text-center{:href => "/sotechsha2/6"} ６章課題

%hr/
%br/
