%nav.navbar
  %ul.nav.navbar-nav
    - @sts_posts.each do |sts_post|
      %li
        %span.list-group
          = link_to(scrivito_value(sts_post.title), scrivito_path(sts_post), :class => "list-group-item list-group-item-success text-center")
%hr/
%br/
/
  <p class="text-right">
  <a href="/sotechsha#top">トップ</a> |
  <a href="http://www.sotechsha.co.jp/sp/1151/">正誤表</a> |
  <a href="/#dojos">全国の道場</a>
  </p>
