<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <% @sts_posts.each do |sts_post| %>
    <li>
    <%= link_to(scrivito_value(sts_post.title), scrivito_path(sts_post), :class => "") %></li>
    <% end %>
  </ul>
</nav>
<hr>
<p class="text-right">
  <a href="/sotechsha#top">トップ</a> |
  <a href="https://www.amazon.co.jp/exec/obidos/ASIN/4800711517/sotechscojp-22">Amazon</a> |
  <a href="http://www.sotechsha.co.jp/sp/1151/">正誤表</a>
</p>
