<nav class="navbar">
  <ul class="nav navbar-nav">
    <li>
      <span class="list-group">
        <a class="list-group-item list-group-item-success text-center" href="/sotechsha/gazou">スプライト素材のダウンロード</a>
      </span>
    </li>
    <li>
      <span class="list-group">
        <a class="list-group-item list-group-item-success text-center" href="/sotechsha/0">序章課題</a>
      </span>
    </li>
    <li>
      <span class="list-group">
        <a class="list-group-item list-group-item-success text-center" href="/sotechsha/1">１章課題</a>
      </span>
    </li>
    <li>
      <span class="list-group">
        <a class="list-group-item list-group-item-success text-center" href="/sotechsha/2">２章課題</a>
      </span>
    </li>
    <li>
      <span class="list-group">
        <a class="list-group-item list-group-item-success text-center" href="/sotechsha/3">３章課題</a>
      </span>
    </li>
    <li>
      <span class="list-group">
        <a class="list-group-item list-group-item-success text-center" href="/sotechsha/4">４章課題</a>
      </span>
    </li>
    <li>
      <span class="list-group">
        <a class="list-group-item list-group-item-success text-center" href="/sotechsha/5">５章課題</a>
      </span>
    </li>
    <li>
      <span class="list-group">
        <a class="list-group-item list-group-item-success text-center" href="/sotechsha/6">６章課題</a>
      </span>
    </li>
  </ul>
</nav>

<hr>
<br> 