<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">サイトマップ</a>
  </div>
  <ul class="nav navbar-nav">
    <% @sts_posts.each do |sts_post| %>
    <li>
    <%= link_to("・"+scrivito_value(sts_post.title), scrivito_path(sts_post), :class => "") %></li>
    <% end %>
  </ul>
</nav>
<hr>
<p class="text-right"><a href="/">CoderDojo Japan公式ホームページ</a> |
  <a href="https://www.amazon.co.jp/exec/obidos/ASIN/4800711517/sotechscojp-22">Amazon(書籍リンク)</a> |
  <a href="http://www.sotechsha.co.jp/sp/1151">サポートページ</a></p>
