<p><%= @pokemon.parent_name %>様</p>
<p>ポケモン素材の申し込みありがとうございます。</p>
<p>ポケモン素材の<a href="https://bit.ly/pokemon-sozai-tos">利用規約</a>をいつでも見れるように案内のメールをお送りしています。</p>

<a href="https://bit.ly/pokemon-sozai-tos">利用規約を読む</a>
