body {
  padding: 64px 0 0;
}
#header {
  background-color: #2275CA;
}
.navbar-header-logos {
  display: flex;
  align-items: center;
  @media only screen and (max-width:768px){
    padding-top: 3px;
  }
}
#header-logo img {
  margin-bottom: 2px;
  width: 46px;
}

#header-brand img {
  width: 150px;
  padding: 6px 0;
}
.container-fluid {
  padding: 4px 30px;
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}
.collapse > .navbar-nav > li > a {
  position: relative;
  &:hover {
    color: #fff;
    &:before, &:after {
      width: 40%;
    }
  }
}

.collapse > .navbar-nav > li > a:before,
.collapse > .navbar-nav > li > a:after {
  position: absolute;
  bottom: 10px;
  content: "";
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: 0.2s;
}
.collapse > .navbar-nav > li > a:before {
  left: 50%;
}
.collapse > .navbar-nav > li > a:after {
  right: 50%;
}
.navbar-toggle {
  padding: 14px 14px;
}

.navbar-header > .navbar-toggle {
  & > .icon-bar {
    background-color: #fff;
  }
  &:hover {
    background-color: #0466c9;
  }
}
.nav > .navbar-dd-p {
  &> a {
    display: inline-block;
    padding-right: 0;
  }
}
.navbar-dd {
  display: none;
  position: absolute;
  list-style: none;
  top: 60px;
  padding: 0 0 8px 0;
  background: #2275CA;
  width: 120px;
  a {
    color: #fff;
    padding: 4px 12px;
    display: block;
    text-decoration: none;
    &:hover {
      background: #66a2df;
    }
  }
}
.navbar-dd-c {
  display: none;
  &:checked ~ .navbar-dd {
    display: block;
  }
  &:checked ~ .navbar-dd-l::before {
    content: '\f0d8';
  }
}
.navbar-dd-l {
  cursor: pointer;
  &:hover:before {
    opacity: .8;
  }
  &::before {
    content: '\f0d7';
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    padding-right: 15px;
  }
}
@media only screen and (max-width:950px) {
  .collapse > .navbar-nav > li > a {
    padding: 15px 8px;
  }
}

@media only screen and (max-width:840px) {
  .container-fluid {
    padding: 5px 10px;
  }
  #header-brand {
    display: none;
  }
  body {
    padding: 66px 0 0;
  }
  #header-logo img {
    width: 44px;
  }
  #header-brand img {
    width: 120px;
  }
  .navbar-toggle {
    padding: 10px 10px;
  }
}

@media only screen and (max-width:768px){
  #header-logo img {
    margin-left: 15px;
  }
  #header-brand {
    display: inline;
  }
  .collapse > .navbar-nav > li > a {
    padding: 10px 15px;
    &:hover {
      color: #cce3f9;
    }
  }
  .collapse > .navbar-nav > li > a:before,
  .collapse > .navbar-nav > li > a:after {
    content: none;
  }
  .navbar-toggle {
    padding: 12px;
  }
}
