@import "color";

body {
  padding: 64px 0 0;
}
#header {
  background-color: #2275CA;
}
.navbar-header-logos {
  display: flex;
  align-items: center;
  @media only screen and (max-width:768px){
    padding-top: 3px;
  }
}
#header-logo img {
  margin-bottom: 2px;
  width: 46px;
}

#header-brand img {
  width: 150px;
  padding: 6px 0;
}
.container-fluid {
  padding: 4px 30px;
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  &:hover{
    color: #fff;
  }
}
.collapse > .navbar-nav > li {
  position: relative;
  &:hover {
    &:before, &:after {
      width: 40%;
    }
  }
}

.collapse > .navbar-nav > li:before,
.collapse > .navbar-nav > li:after {
  position: absolute;
  bottom: 10px;
  content: "";
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: 0.2s;
}
.collapse > .navbar-nav > li:before {
  left: 50%;
}
.collapse > .navbar-nav > li:after {
  right: 50%;
}
.navbar-toggle {
  padding: 14px 14px;
}

.navbar-header > .navbar-toggle {
  & > .icon-bar {
    background-color: #fff;
  }
  &:hover {
    background-color: #0466c9;
  }
}
.nav > .navbar-dd-p {
  &> a {
    display: inline-block;
    padding-right: 0 !important;
  }
  &:hover > .navbar-dd {
    display: block;
  }
}
.navbar-dd {
  display: none;
  position: absolute;
  list-style: none;
  top: 50px;
  padding: 10px 0 8px 0;
  background: #2275CA;
  width: 120px;
  a {
    color: #fff;
    padding: 4px 12px;
    display: block;
    text-decoration: none;
    &:hover {
      background: #66a2df;
    }
  }
}
.navbar-dd-l {
  display: inline-block;
  margin-bottom: 2px;
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left:  5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    color: #fff;
    margin-right: 8px;
  }
}
@media only screen and (max-width:990px) {
  .collapse > .navbar-nav > li > a {
    padding: 15px 8px;
  }
}

@media only screen and (max-width:900px) {
  .container-fluid {
    padding: 5px 10px;
  }
  #header-brand {
    display: none;
  }
  body {
    padding: 66px 0 0;
  }
  #header-logo img {
    width: 44px;
  }
  #header-brand img {
    width: 120px;
  }
  .navbar-toggle {
    padding: 10px 10px;
  }
  .navbar-fixed-top {
    padding-right: 20px;
  }
}

@media only screen and (max-width:768px){
  .navbar-dd {
    display: block;
    position: static;
    padding: 0 2rem;
    width: 100%;
  }
  .navbar-dd-l {
    display: none;
  }
  #header-logo img {
    margin-left: 15px;
  }
  #header-brand {
    display: inline;
  }
  .collapse > .navbar-nav > li > a {
    padding: 10px 15px;
    &:hover {
      color: #cce3f9;
    }
  }
  .collapse > .navbar-nav > li:before,
  .collapse > .navbar-nav > li:after {
    content: none;
  }
  .navbar-toggle {
    padding: 12px;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 540px;
  }
}

/* DocSearch by Algolia */
.search {
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  position: absolute;
  right: 0;
  #searchbox {
    width: 0;
    transition: all .3s;
    padding: 4px 0;
    border: none;
    border-radius: 4px;
  }
}
.search-icon {
  width: 16px;
  border-radius: 0;
}
.collapse > .navbar-nav > li.search-li {
  // position: static;
  // &::before, &::after {
  //  display: none;
  // }
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.search-label {
  margin: 0;
  padding: 15px 8px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
}
.search-checkbox {
  display: none;
}
.search-checkbox:checked + .search {
  #searchbox {
    width: 190px;
    transition: all .3s;
    padding: 4px;
    box-shadow: 0 0 6px 1px rgba(88, 88, 88, 41%);
    border: #fff solid 1px;
    &:focus{
      border: $main-blue solid 2px;
      outline: none;
    }
  }
}
