<p>
  フィードバックなどあれば info@coderdojo.jp にメールしていただくか、
  <br>
  もしくは
  <a href="https://github.com/coderdojo-japan/coderdojo.jp/issues/" target="_blank" rel="noopener">GitHub Issue</a>
  に書いていただけると嬉しいです (＞人＜ )✨
</p>
