<% provide(:title, "予期しないエラーが発生しました 😵‍💫") %>
<% provide(:desc, "申し訳ありません。サーバーで問題が発生しています。") %>

<div id="top" class="title text-center">
  <i class="cd cd-logo"></i>
  <h1>CoderDojo Japan</h1>
  <p>子どものためのプログラミング道場</p>
  <br>
</div>

<section class="introduction text-center list">
  <h2>予期しないエラーが発生しました 😵‍💫</h2>
  <p>現在、問題を調査しています。しばらくしてからもう一度お試しください。</p>
</section>
