<% provide(:title, "ページが見つかりませんでした... 🥺💦") %>
<% provide(:desc,  "ページが削除された可能性があります 🤔💭") %>

<div id="top" class="title text-center">
  <i class="cd cd-logo"></i>
  <h1>CoderDojo Japan</h1>
  <p>子どものためのプログラミング道場</p>
  <br>
</div>

<section class="introduction text-center list">
  <h2>
    ページが見つかりませんでした... 🥺💦
  </h2>
  <p>
    ページが削除された可能性があります 🤔💭
    <br>
  </p>
  <%= render 'errors/feedback_notice' %>
</section>

<%= render 'errors/footer_links_and_timeline' %>
