<% provide(:title, "リクエストが処理できませんでした… 😢") %>
<% provide(:desc,  "入力内容に誤りがあるか、リクエストが正しく送信されなかった可能性があります。") %>

<div id="top" class="title text-center">
  <i class="cd cd-logo"></i>
  <h1>CoderDojo Japan</h1>
  <p>子どものためのプログラミング道場</p>
  <br>
</div>

<section class="introduction text-center list">
  <h2>
    リクエストが処理できませんでした… 😢
  </h2>
  <p>
    入力内容に誤りがあるか、リクエストが正しく送信されなかった可能性があります。
    <br>
  </p>
  <p>
  フィードバックなどあれば info@coderdojo.jp にメールしていただくか、
  <br>
  もしくは
  <a href="https://github.com/coderdojo-japan/coderdojo.jp/issues/" target="_blank" rel="noopener">GitHub Issue</a>
  に書いていただけると嬉しいです (＞人＜ )✨
  </p>
</section>

<%= render 'errors/footer_links_and_timeline' %>
