<% provide(:title, "リクエストが処理できませんでした… 😢") %>
<% provide(:desc,  "入力内容に誤りがあるか、リクエストが正しく送信されなかった可能性があります。") %>

<%= render 'errors/header' %>

<section class="introduction text-center list">
  <h2>
    リクエストが処理できませんでした… 😢
  </h2>
  <p>
    入力内容に誤りがあるか、リクエストが正しく送信されなかった可能性があります。
    <br>
  </p>
  <%= render 'errors/feedback_notice' %>
</section>

<%= render 'errors/footer_links_and_timeline' %>
