<% provide :title, '第2版 Scratch でつくる! たのしむ! プログラミング道場 - CoderDojo Japan' %>
<% provide :url,   'https://coderdojo.jp/sotechsha2' %>

<div class='container-fluid'>
    <div class='col-md-6' id='top'>
        <img class="lazyload img-responsive center-block" alt="Scratchでつくる! たのしむ! プログラミング道場" style="width: 90%" data-src="/assets/sotechsha-2_book-cover.webp" loading="lazy" src="/spinner.svg"/>
        <div style='text-align: center; font-size: 19.2px;'>
            <div class="img-responsive center-block">
                <div>
                    <div>
                        <p>
                            <br>
                        </p>
                        <p>本ページでは、書籍で利用する素材や、課題の答えを掲載しています。</p>
                        <p>
                            本書に関するお問い合わせは
                            <a href="http://sotechsha.co.jp/dokusha/">コチラ</a>
                            から 📮
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-6'>
        <h3>
            <strong>スプライト素材のダウンロード</strong>
        </h3>
        <p>
        <p>書籍内でタカシくんが使っているものと同じスプライト素材をダウンロードしていただけます。</p>
        <p>
            <br>
        </p>
        </p>
        <a class="btn btn-warning btn-block" href="/sotechsha2/gazou">もっと見る</a>
        <hr>
        <h3>
            <strong>序章課題</strong>
        </h3>
        <p>
        <h2>リンゴが消えて、別の場所から出てくるようにするには？</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.32）</b>
        </p>
        <p>ネコがリンゴにさわったら、リンゴが消えて別の場所から出てくるようにコードを作り直してみよう。ネコがリンゴにさわったときに、リンゴの位置をランダムに設定し直すと、ちがった動きになるよ。</p>
        <p>
            <br>
        </p>
        <p>ヒント1→ 新しいコードをリンゴに追加すること。ネコのコードを参考に、追加する場所を探してみよう。リンゴが出る場所をランダムに...</p>
        <a class="btn btn-warning btn-block" href="/sotechsha2/0">もっと見る</a>
        <hr>
        <h3>
            <strong>１章課題</strong>
        </h3>
        <p>
        <h2>両手で両目を隠すようにプログラムするには？</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.60）</b>
        </p>
        <p>前ページのコラムで紹介したメッセージを使って、両手で両目を隠すようにプログラムしてみよう。</p>
        <p>スプライトを複製する必要があるよ。</p>
        </p>
        <a class="btn btn-warning btn-block" href="/sotechsha2/1">もっと見る</a>
        <hr>
        <h3>
            <strong>２章課題</strong>
        </h3>
        <p>
        <h2>五角形や六角形を描いてみよう</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.87</b>
            ）
        </p>
        <p>タカシくんが作らなかった、五角形や六角形を描くプログラムを作ってみよう。</p>
        <p>五角形は、方向を5回変えたときに360度回っていればいいんだから、360÷5を計算して、72度回転すればいいことがわかるね。だからコードはこうなるよ。</p>
        </p>
        <a class="btn btn-warning btn-block" href="/sotechsha2/2">もっと見る</a>
        <hr>
        <h3>
            <strong>３章課題</strong>
        </h3>
        <p>
        <h2>アンサンブルにチャレンジしよう！</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.104）</b>
        </p>
        <p>いろんな音を同時に出せるということは、スクラッチの世界のなかで、ほかの人やコンピュータと合奏することもできるってことだね。ちょっとすごいと思わない？</p>
        <p>スクラッチは音楽データを再生することもできるんだ。だから、コンピュータには自分の好きな音楽を演奏してもらって、それに合わせてキーボードやマウスを操作して、楽器やドラムの音を出してみよう。</p>
        <p>...</p>
        <a class="btn btn-warning btn-block" href="/sotechsha2/3">もっと見る</a>
        <hr>
        <h3>
            <strong>４章課題</strong>
        </h3>
        <p>
        <h2>最後の問題だけ得点を2倍にするには?</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.126）</b>
        </p>
        <p>最後の問題だけ得点を2倍にしてみよう！</p>
        <p>
            <b>「もし〜なら　〜でなければ」</b>
            のブロックを使って、最後の問題のときだけ得点を2倍にするコードを作ればできるはずだよ。最後の問題かどうかを確認するにはリストの長さを調べる
            <b>「〜の長さ」</b>
            と何かを比べるとわかるよ。
        </p>
        <p>
            <br>
        </p>
        <p>ヒント→ 「もし〜なら　〜でなければ」...</p>
        <a class="btn btn-warning btn-block" href="/sotechsha2/4">もっと見る</a>
        <hr>
        <h3>
            <strong>５章課題</strong>
        </h3>
        <p>
        <h2>忍者をジャンプさせよう</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.144）</b>
        </p>
        <p>自由に走れるようになった忍者にジャンプをさせてみよう。</p>
        <p>
            <b>「y座標を〜ずつ変える</b>
            」のブロックを使うと、忍者を縦方向にも動かすことができることは知ってるよね。忍者をジャンプさせるには「y座標」を増やせばいい。ジャンプしたあとは着地するよね？　着地のときにはジャンプと反対に「y座標」を減らせばいいんだ。
        </p>
        <p>
            <br>
        </p>
        <p>ヒント→「〜...</p>
        <a class="btn btn-warning btn-block" href="/sotechsha2/5">もっと見る</a>
        <hr>
        <h3>
            <strong>６章課題</strong>
        </h3>
        <p>
        <h2>手裏剣が敵に当たったときに、消えるようにしてみよう</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.164）</b>
        </p>
        <p>いまのままだと手裏剣が敵にぶつかっても貫通してしまうよね。手裏剣が敵にぶつかったときに、手裏剣と敵が一緒に消えるようにしてみよう！</p>
        <p>かなり難しいから、腕を磨きたいニンジャはぜひ挑戦してみてね。</p>
        <p>
            <br>
        </p>
        <p>ヒント→「メッセージを送って待つ」を使うことと、メッセージを受け取ったスプライトはどんな条件で消えればい...</p>
        <a class="btn btn-warning btn-block" href="/sotechsha2/6">もっと見る</a>
        <hr>

        <%= render partial: 'shared/social_buttons_raw'%>
        <%= render partial: 'shared/sitemap_sotechsha2'%>
    </div>
</div>
