<% provide :title, 'スプライト素材のダウンロード - CoderDojo Japan' %>
<% provide :url,   'https://coderdojo.jp/sotechsha/5' %>

<article>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
                <div class='fontsize-bigger'>
                    
                    <h1>スプライト素材のダウンロード</h1>
                    <div>
                        <p>
                            <span style="font-size: 19.2px;">書籍内でタカシくんが使っているものと同じスプライト素材をダウンロードしていただけます。</span>
                        </p>
                        <p>
                            <br>
                        </p>
                    </div>
                    <%= lazy_image_tag '/img/sotechsha/download.png' %>
                    <div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    素材はすべて
                                    <b>
                                        「
                                        <%= link_to 'Scratch_Dojo.zip', '/downloads/Scratch_Dojo.zip', download: '' %>
                                        」
                                    </b>
                                    というzipファイルにまとめられています。解凍すると、書籍の章番号に対応するフォルダがあり、各フォルダにスプライト素材や背景素材があります。
                                    <br>
                                </p>
                                <p>それぞれのフォルダの内容は以下のとおりです。</p>
                                <p>
                                    <span style="font-size: 16.8px;">
                                        <b>「Chapter1」（1章</b>
                                        ）
                                        <br>
                                    </span>
                                    <span style="font-size: 16.8px;">まゆ、手1、手2、着せかえ正面、忍者肌、鼻、目1のスプライト。「課題の素材」フォルダ内には、アイコンｰまゆ、鼻、服、目のスプライトが入っています。</span>
                                </p>
                                <p></p>
                                <p></p>
                                <p>
                                    <span style="font-size: 16.8px;">
                                        <b>「Chapter2_4」（2・4章）</b>
                                        <br>
                                    </span>
                                    <span style="font-size: 16.8px;">ニンジャのスプライト</span>
                                </p>
                                <p>
                                    <span style="font-size: 16.8px;">
                                        <b>
                                            「Chapter3」（3章）
                                            <br>
                                        </b>
                                    </span>
                                    <span style="font-size: 16.8px;">黒鍵、白鍵のスプライト</span>
                                </p>
                                <p>
                                    <span style="font-size: 16.8px;">
                                        <b>「Chapter5」（5章）</b>
                                        <br>
                                        ニンジャ、背景のスプライト
                                    </span>
                                </p>
                                <p>
                                    <span style="font-size: 16.8px;">
                                        <b>「Chapter6」（6章）</b>
                                        <br>
                                        しゅりけん、てき、プレイヤーのスプライト
                                    </span>
                                </p>
                                <p>
                                    <span style="font-size: 16.8px;">
                                        このスプライト素材は「
                                        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja">Creative Commons 表示 - 非営利 4.0 国際 (CC BY-NC 4.0)</a>
                                        」にもとづき公開しています。ライセンス条件に従って、Scratch上で自由に共有・リミックスをお楽しみください。
                                    </span>
                                </p>
                                <p>以下のリンクよりダウンロードしてご利用ください。</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <%= link_to 'ダウンロード素材', '/downloads/Scratch_Dojo.zip', download: '' %>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p>
                                    <br>
                                </p>
                                <h2>FAQ - よくある質問</h2>
                                <h3>ファイルが文字化けするときは？</h3>
                                <p>Macの標準ブラウザ「Safari」でzipファイルをダウンロードすると自動解凍されますが、その際にファイル名が文字化けする場合があります。</p>
                                <p>
                                    文字化けした場合は、お手数ですが「Chrome」や「Firefox」などのブラウザからダウンロードをお試しください。
                                    <br>
                                    <br>
                                </p>
                                <h3>ダウンロードした後は？</h3>
                                <p>
                                    ダウンロードしたファイルは、スクラッチ上で読み込ませる必要があります。
                                    <span style="font-size: 19.2px;">詳しい手順は書籍の38ページに記載されているので、そちらをご参照ください。</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-muted text-right h5">更新日: 2016年12月30日</div>
                    <div style='margin-left: 0px; padding-bottom: 30px;'></div>

                    <%= render partial: 'shared/sitemap_sotechsha'%>

                </div>
            </div>
        </div>
    </div>
</article>
