
<div class='container-fluid'>
    <div class='col-md-6' id='top'>
        <img class="lazyload img-responsive center-block" alt="Scratchでつくる! たのしむ! プログラミング道場" style="width: 90%" data-src="/assets/sotechsha-1_book-cover-413b7342a50580fde3d8cc43c7ef1eb4e67bf3659d27f57edfe9ac6d708fed25.webp" loading="lazy" src="/spinner.svg"/>
        <div style='text-align: center; font-size: 19.2px;'>
            <div class="img-responsive center-block">
                <div>
                    <div>
                        <p>
                            <br>
                            本ページでは、書籍で利用する素材や、課題の答えを掲載しています。
                        </p>
                        <p>
                            <span style="font-size: 19.2px;">本書に関するお問い合わせは</span>
                            <span style="font-size: 19.2px; background-color: rgb(255, 255, 255);">
                                <a href="http://sotechsha.co.jp/dokusha/">コチラ</a>
                                から 📮
                            </span>
                        </p>
                        <p>
                            <span style="font-size: 19.2px;">
                                <br>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-6'>
        <h3>
            <strong>スプライト素材のダウンロード</strong>
        </h3>
        <p>
        <p>
            <span style="font-size: 19.2px;">書籍内でタカシくんが使っているものと同じスプライト素材をダウンロードしていただけます。</span>
        </p>
        <p>
            <br>
        </p>
        </p>
        <a class="btn btn-warning btn-block" href="/sotechsha/gazou">もっと見る</a>
        <hr>
        <h3>
            <strong>序章課題</strong>
        </h3>
        <p>
        <h2>リンゴが消えて、別の場所から出てくるようにするには？</h2>
        <p>
            <span style="font-size: 19.2px;">
                <br>
            </span>
        </p>
        <p>
            <span style="font-size: 19.2px;">
                <b>課題内容（書籍P.32）</b>
            </span>
        </p>
        <p>ネコがリンゴにさわったら、リンゴが消えて別の場所から出てくるようにスクリプトを作り直してみよう。ネコがリンゴにさわったときに、リンゴの位置をランダムに設定し直すと、ちがった動きに...</p>
        <a class="btn btn-warning btn-block" href="/sotechsha/0">もっと見る</a>
        <hr>
        <h3>
            <strong>１章課題</strong>
        </h3>
        <p>
        <h2>両手で両目を隠すようにプログラムするには？</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.58）</b>
        </p>
        <p>前ページのコラムで紹介したメッセージを使って、両手で両目を隠すようにプログラムしてみよう。</p>
        <p>スプライトを複製する必要があるよ。</p>
        <p>
            <br>
        </p>
        </p>
        <a class="btn btn-warning btn-block" href="/sotechsha/1">もっと見る</a>
        <hr>
        <h3>
            <strong>２章課題</strong>
        </h3>
        <p>
        <h2>五角形や六角形をかいてみよう</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.78）</b>
            <br>
        </p>
        <p>タカシくんが作らなかった、五角形や六角形をかくプログラムを作ってみよう。</p>
        <p>
            <br>
        </p>
        </p>
        <a class="btn btn-warning btn-block" href="/sotechsha/2">もっと見る</a>
        <hr>
        <h3>
            <strong>３章課題</strong>
        </h3>
        <p>
        <h2>アンサンブルにチャレンジしよう！</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.92）</b>
        </p>
        <p>いろんな音を同時に出せるということは、スクラッチの世界のなかで、ほかの人やコンピュータと合奏することもできるってことだね。ちょっとすごいと思わない？</p>
        <p>スクラッチは音楽データを再生することもできるんだ。だから、コンピュータには自分の好きな音楽を演奏してもらって、それに合わせてキーボードやマウスを操作して、楽器やドラムの音を出してみよう。</p>
        ...</p>
        <a class="btn btn-warning btn-block" href="/sotechsha/3">もっと見る</a>
        <hr>
        <h3>
            <strong>４章課題</strong>
        </h3>
        <p>
        <h2></h2>
        <h2>最後の問題だけ得点を2倍にするには?</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.114）</b>
        </p>
        <p>最後の問題だけ得点を2倍にしてみよう！</p>
        <p>
            <b>「もし〜なら　〜でなければ」</b>
            のブロックを使って、最後の問題のときだけ得点を2倍にするスクリプトを作ればできるはずだよ。最後の問題かどうかを確認するにはリス トの長さを調べる
            <b>「〜の長さ」</b>
            と何かを比べるとわかるよ。
        </p>
        <p>
            <br>
        </p>
        <p>...</p>
        <a class="btn btn-warning btn-block" href="/sotechsha/4">もっと見る</a>
        <hr>
        <h3>
            <strong>５章課題</strong>
        </h3>
        <p>
        <h2>忍者をジャンプさせよう</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.132）</b>
        </p>
        <p>
            <span style="font-size: 16.8px;">自由に走れるようになった忍者にジャンプをさせてみよう。</span>
            <br>
        </p>
        <p>
            <b style="font-size: 16.8px;">「y座標を○ずつ変える」</b>
            <span style="font-size: 16.8px;">のブロックを使うと、忍者を縦方向にも動かすことが...
        </p>
        <a class="btn btn-warning btn-block" href="/sotechsha/5">もっと見る</a>
        <hr>
        <h3>
            <strong>６章課題</strong>
        </h3>
        <p>
        <h2>手裏剣が敵に当たったときに、消えるようにしてみよう</h2>
        <p>
            <br>
        </p>
        <p>
            <b>課題内容（書籍P.152）</b>
        </p>
        <p>いまのままだと手裏剣が敵にぶつかっても貫通してしまうよね。手裏剣が敵にぶつかったときに、手裏剣と敵が一緒に消えるようにしてみよう！</p>
        <p>かなり難しいから、腕を磨きたいニンジャはぜひ挑戦してみてね。</p>
        <p>
            <br>
        </p>
        <p>
            <b>ヒント→</b>
            <b>「メッセージを送って待つ」</b>
            を使うことと、メッセージを受け...
        </p>
        <a class="btn btn-warning btn-block" href="/sotechsha/6">もっと見る</a>
        <hr>

        <%= render partial: 'shared/social_buttons_raw'%>
        <%= render partial: 'shared/sitemap_sotechsha'%>
    </div>
</div>
