<% provide(:title, "Pokemon 素材ダウンロードページ") %>
<% provide(:desc,  '') %>
<% provide(:url,   '/pokemon/downloads' ) %>
<% provide(:meta_image,  '') %>

<div class="container" style="line-height: 2.2em;">
  <section class="doc" style="padding: 50px 50px 0px 0px;">
    <h1 style="text-align: center;">利用規約への同意ありがとうございました 💖</h1>
    <p style="text-align: center; padding-bottom: 10px;">ボタンをクリックして、ポケモン素材をダウンロードしよう！✨</p>

    <%= link_to 'ポケモン素材をダウンロードする', @presigned_url, class:"btn-blue", style:"max-width:300px;display:block;margin:10px auto;" %>
  </section>
</div>
