<% provide(:title, '『プログラミングでポケモンをうごかしてみよう』のワークショップ事例') %>
<% provide(:desc,  '『プログラミングでポケモンをうごかしてみよう』のワークショップ事例を掲載しています。ワークショップの開催を予定している CoderDojo 関係者のご参考になれば幸いです。') %>
<% provide(:url,         '/pokemon/workshop') %>
<% provide(:meta_image,  '/img/pokemon_scratch.png') %>

<div class="container">
  <section class="introduction" style="padding: 50px 0px;">
    <div class="text-center">
      <h2 style="line-height: 1.4em;">ポケモンワークショップの事例紹介</h2>
      <%= lazy_image_tag '/img/pokemon_scratch.png', alt: 'ポケモン・ワークショップのカバー画像', min: true, style: 'padding-bottom: 50px; border-radius: 4px;' %>
    </div>

    <p style="padding-bottom: 20px; font-size: 95%;">
      『プログラミングでポケモンをうごかしてみよう』のワークショップ事例を載せています。<br><br class="ignore-pc" />ワークショップ開催を検討している CoderDojo 関係者の参考になれば幸いです。
      <div class="home-point-video">
        <iframe loading="lazy" width="100%" src="https://www.youtube.com/embed/Wr-z-QE-k8s" title="出張ポケモンワークショップ @ 大津ヶ丘第一小学校" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="1"></iframe>
      </div>
      <div class="btn-cover">
        <a class="btn-blue" style="padding: 12px 0px;" href="https://www.youtube.com/watch?v=Wr-z-QE-k8s">
          <i class="fa fa-youtube"></i>
          YouTube で見る
        </a>
      </div>
    </p>

    <h3 id="references" style="padding-top: 50px;">☯️ 他の開催事例</h3>
    <ul>
      <li><a href="https://dojocon2022.coderdojo.jp/event/pokemon-workshop/">DojoCon Japan における開催事例</a></li>
      <li><a href="https://coderdojo-tonami.org/blog/fes-2021/">CoderDojo となみ（砺波）の開催事例</a></li>
      <li><a href="https://coderdojo-hikari.com/archives/20210704_report-56.html">CoderDojo 光の開催事例</a></li>
      <li><a href="https://coderdojo-inuyama.rgr.jp/2021/06/07/はじめてのプログラミンオンライン開催）/">CoderDojo 犬山の開催事例</a></li>
      <li><a href="https://www.facebook.com/groups/coderdojo.jp/posts/5678892912224061/">CoderDojo 倉敷の開催事例</a></li>
    </ul>

    <p style="padding-bottom: 10px; font-size: 95%;">
      ワークショップ開催方法については<br class="ignore-pc" />『<%= link_to 'Kata - 支援・資料', '/kata#support' %>』をご参照ください。
      <div class="btn-cover">
        <a class="btn-blue" style="padding: 12px 0px; font-size: 90%;" href="/kata#support">
          <i class="fa fa-yin-yang"></i>
          支援・資料のページを見る
        </a>
      </div>
    </p>

    <h3 id="references" style="padding-top: 50px;">📚 関連リンク</h3>
    <ul>
      <li><a href="https://prtimes.jp/main/html/rd/p/000000003.000038935.html">プログラミングでポケモンを動かすワークショップが、全国のCoderDojoで実施可能に - PR TIMES</a></li>
      <li><a href="https://www.pokemon-foundation.or.jp/news/5/">全国のCoderDojoでプログラミングワークショップが実施可能に | ポケモン・ウィズ・ユー財団</a></li>
      <li><a href="https://takadanobaba.keizai.biz/headline/656/">プログラミングでポケモンを動かすワークショップ、全国のコーダー道場で実現 - 高田馬場経済新聞</a></li>
    </ul>

    <p class="form-notes">
      Scratchは、Scratch財団がMIT Media Lab - The Lifelong Kindergarten Groupの<br>協力により開発しているプロジェクトです。<%= link_to 'scratch.mit.edu', 'https://scratch.mit.edu', rel: 'noopener', target: '_blank' %> から自由に入手できます。<br>
      <br>
      ©Pokémon. ©Nintendo/Creatures Inc./GAME FREAK inc.<br>
      <small>ポケットモンスター・ポケモン・Pokémonは任天堂・クリーチャーズ・ゲームフリークの登録商標です。</small>
    </p>
  </section>
</div> 
