// Place all the styles related to the Docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 一覧ページ用: /docs */
.docs {
  font-family: serif;
  line-height: 2.2em;
  a:hover{
    text-decoration: none;
  }
  ul {
    li {
      list-style-type: none;
      font-size: 20px;
      padding-left: 1.5em;
      text-indent: -1.5em;

      @media only screen and (max-width: 768px) {
	padding-bottom: 10px;
	margin-left: -35px;
      }
    }
  }
}

/* 各ページ用: /doc/* */

.doc {
  counter-reset: doc-chapter;
  position: relative;
  font-family: serif;
}
.doc > h1 {
  text-align: center;
  line-height: 1.5em;
}
.doc > h1:first-child {
  margin-top: 0;
}
.doc > h2 {
  counter-reset: doc-paragraph;
  counter-increment: doc-chapter;
  margin-top: 1.2em;
}
.doc > h2::before {
  //content: "\7B2C" counter(doc-chapter) "\6761\FF08";
}
.doc > h2::after {
  //content: "\FF09";
}
.doc > h3 {
  line-height: 1.7em;
  margin-top: 1.2em;
}
.doc > p {
  counter-increment: doc-paragraph;
  text-indent: 0em;
  padding-left: 1em;
  line-height: 1.7em;
}
.doc > h1 + p,
.doc > h2 + p,
.doc > hr + p,
.doc > p:first-of-type {
  text-indent:  0em;
  padding-left: 1em;
}
.doc > p::before {
  //content: counter(doc-paragraph) " ";
  font-weight: bold;
  margin-left: -2em;
  margin-right: 1em;
}
.doc > h1 + p::before,
.doc > h2 + p::before,
.doc > hr + p::before,
.doc > p:first-of-type::before {
  content: none;
}
.doc > ul {
  list-style: none;        
  padding: 0 0 0 2.5em;
}
.doc > ol {
  list-style: none;
  counter-reset: doc-ordered-list;
  padding: 0 0 0 2.5em;
}
.doc > ol > li {
  counter-increment: doc-ordered-list;
  text-indent: -2.5em;
}
.doc > ol > li::before {
  content: "\FF08" counter(doc-ordered-list) "\FF09";
}
.doc > hr {
  border: none;
  border-top: 1px solid black;
  margin: 2em 0;
}
.doc > h4 {
  position: absolute;
  margin: 0;
  right: 30em;
  font-size: 100%;
}
.doc > h4 + ul {
  margin: 0 0 2em auto;
  width: 28em;
  list-style: none;
}
.doc > h4 + ul > li:last-child::after {
  content: "\329E";
  position: absolute;
  right: 1em;
}
.doc > blockquote {
  border: 1px solid black;
  padding: .5em 1.5em;
  margin: 1em 0 1.5em;
}
.doc > ol > li > ul {
  list-style: none;
}

// Sample Usecase: https://coderdojo.jp/docs/fundraising-methods
// This style is defined by Bootstrap's _type.scss.
.doc small::before {
  content: none;
}
