<div style="display: table; font-weight: bolder; width: 100%; padding: 10px 10px; background-color:#3870c4;">
  <p class="nav prev">
    <% if @episode.exists?(offset: -1) %>
      <%= link_to '&larr; prev'.html_safe, podcast_path(@episode.id - 1) %>
    <% else %>
      <%= link_to '&larr; Top'.html_safe, podcasts_path %>
    <% end %>
  </p>
  <p class="nav toc" >
    <a href="/podcasts">DojoCast</a></p>
  <p class="nav next">
    <% if @episode.exists?(offset: +1) %>
      <%= link_to 'next &rarr;'.html_safe, podcast_path(@episode.id + 1) %>
    <% else %>
      <%= link_to 'Top &rarr;'.html_safe, podcasts_path %>
    <% end %>
  </p>
</div>
