<% provide(:title, "\##{@title} - #{@desc}") %>
<% provide(:desc,  @desc) %>
<% provide(:url,   @url ) %>

<img alt="DojoCast Cover Photo" src="/img/dojocast-cover.jpg" />

<div class="container" style="line-height: 2.2em;">
  <section class="keiyaku" style="padding: 50px 0px 0px 0px;">
    <h1 style="text-align: center;"><%= @title %></h2>
    <p style="text-align: center; padding-bottom: 50px;"><%= @desc %></p>
    <ul style="font-size: 120%">
      <% @episodes.each do |episode| %>
        <li><%= link_to episode.title, episode.url %></li>
      <% end %>
    </ul>
  </section>
  <section class="introduction text-center list" style="margin-bottom: 30px;">
    <%= render 'shared/sns' %>
  </section>
</div>
