- provide(:title, @episode.title)
- provide(:desc,  @episode.description)
- provide(:url,   @url)
.container{:style => "line-height: 1.9em;"}
  %section.keiyaku{:style => "padding: 50px 0px 100px 0px;"}
    = raw @content
