<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <!--以下がのyieldがHTMLのコンテンツ-->
    <%= yield %>
  </body>
</html>
