<div class="col-12">
  <div class="col-3 cover-bg-blue link-text-white">
    <%= scrivito_tag :h4, widget, :text, class:'cover-text-white', style:'padding-top:10px;' %>
    <%= scrivito_tag :p, widget, :text, class:'cover-text-white', style:'padding-bottom:30;　padding-top:40px;' %>
  </div>
</div>

