.col-12
  .col-3.cover-bg-blue
    = scrivito_tag :h5, widget, :headline, class:'cover-text-white', style:'padding-top:20px;'
    = scrivito_tag :p, widget, :paragraph, class:'cover-text-white', style:'padding-bottom:60; padding-top:20px;'
