<div class="col-12">
  <div class="col-3 cover-bg-blue ">
    <%= scrivito_tag :h6, widget, :headline, data: {newlines: false}, class:'cover-text-white' style:'padding-top:10px; '%>
    <%= scrivito_tag :p, widget, :text, class:'cover-text-white', style:'padding-bottom:25px;　padding-top:25px;'%> 
  </div>
</div>